{% extends "admin/admin_base.html" %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $("#li_student_records").addClass('mm-active');
        $("#li_payments").addClass('mm-active');

        var dateFrom = $("#filter_date").data('daterangepicker').startDate.format('YYYY-MM-DD');
        var dateTo = $("#filter_date").data('daterangepicker').endDate.format('YYYY-MM-DD');

        var dtPassers = $('#tbl_passers').DataTable({
            "dom": 'rtip',
            "pageLength": 20,
            "order": [[1, 'asc']],
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "ordering": false,
            "ajax": {
                "url": "/learning-management/datatables/student-records/payments",
                "data": function (d) {
                    d.branch = $("#branch").val();
                    d.date_from = dateFrom;
                    d.date_to = dateTo;
                }
            }
        });
        
        $('#frm_passer').validate({
            'rules': {
                'score': {
                    'required': true,
                },
                'primary_key': {
                    'required': true
                }
            },
            'submitHandler': function(form){
                var xform = $(form);

                swal({
                    title: `Add to passers?`,
                    text: "Double check form data!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Confirm!",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function(){
                    setTimeout(function () {
                        $.ajax({
                            type: xform.attr('method'),
                            url: xform.attr('action'),
                            data: xform.serialize(),
                            success: function (response) {
                                event.stopPropagation();
                                dtSearchStudents.ajax.reload();
                                dtPassers.ajax.reload();
                                clearForm();
                                swal("Success!", response.message, "success");
                            },
                            error: function (data) {
                                swal("Error Occured!", "Please refresh the page then try again!", "error");
                            },
                        });
                    }, 500);
                });
            }
        });

        $("#btn_search").click(function () {
            dtPassers.search($("#search_input").val()).draw();
        });

        $("#btn_clear_entry").click(function () {
            $("#search_input").val("")
            dtPassers.search("").draw();
        });

        $("#branch").change(function () {
            dtPassers.ajax.reload();
        });

        $("#filter_date").on('apply.daterangepicker', function(ev, picker){
            dateFrom = picker.startDate.format('YYYY-MM-DD');
            dateTo = picker.endDate.format('YYYY-MM-DD');
            dtPassers.ajax.reload();
        });
    }); // document end

    
    function clearForm(){
        $(':input','#frm_passer')
            .not(':button, :submit, :reset, :hidden')
            .val('')
            .prop('checked', false)
            .prop('selected', false);
    }
</script>
{% endblock %}


{% block content %}
<div class="app-main__inner">
    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-users icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    Payments
                    <div class="page-title-subheading">
                        Enrollment > Student Records > Payments
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="lname" class="">Search</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <input id="search_input" placeholder="Last Name" type="text" class="form-control">
                                <button id="btn_search" class="btn btn-primary"><i class="pe-7s-search">
                                    </i></button>
                                <button id="btn_clear_entry" class="border-0 btn-transition btn btn-outline-danger"><i
                                        class="pe-7s-close">
                                    </i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="branch" class="">Branch</label>
                        <select name="branch" id="branch" class="form-control" required>

                            {% if current_user.role.name == "Secretary" %}
                            <!-- Pass -->
                            {% else %}
                            <option value="all">All</option>
                            {% endif %}

                            {% for branch in branches %}
                            <option value="{{ branch.id }}">
                                {{ branch.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="filter_date" class="">Date</label>

                        <div id="filter_date" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="table-responsive">
                    <table id="tbl_passers" class="align-middle mb-0 table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">DATE</th>
                                <th class="text-center">STUDENT NAME</th>
                                <th class="text-center">BRANCH</th>
                                <th class="text-center">AMOUNT</th>
                                <th class="text-center">PAYMENT MODE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- load with json -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
