{% extends 'prime_home/base.html' %}

{% block header %}
    {% include "prime_home/navigation_header_2.html" %}
{% endblock %}

{% block content %}
<section class="primary-color pt-5 text-white">
    <div class="container mb-4 py-5">
        <h1 class="display-5 fw-bold">About Us</h1>
        <p class="fs-3 mb-0">
            Korean language is challenging institutional services for Jonwel Suprecencia, as an EPS worker in South Korea During his early endeavors , he has foreseen the need of Filipino for working abroad to know the basic language of Korean as part of their requirements for employment in Korea. He has learn the difference of Filipino and korean culture and understand a lot more about Korean Labor and Immigration Laws.
        </p>
    </div>
    <svg viewBox="0 0 1440 185" preserveAspectRatio="none" fill="rgb(0, 97, 168)" version="1.1" xmlns="http://www.w3.org/2000/svg" class="bg-white d-block text-primary" width="100%" height="160">
        <path d="M 0 0 H 1440 V 60 C 1114 355 700 35 516 35 C 333 35 246 199 0 60 V 0 Z"/>
    </svg>
</section>
<div class="container" style="margin-top: -11rem;">
    <div class="align-items-center row">
        <div class="col-11 col-md-10 col-xl-8 mx-auto"> 
            <img src="{{url_for('prime_home.static', filename='img/about.jpg')}}" class="img-fluid mb-3 rounded w-100" alt="Sample image" width="1280" height="720"/>
        </div>
    </div>
</div>

<section data-aos="zoom-in" data-aos-duration="2000" class="pb-5 pt-5"> 
    <div class="container pb-5 pt-5"> 
        <h2 class="h5 text-primary">Who We Are</h2>
        <h3 class="h1 mb-4 text-dark">CHOGI LANGUAGE AND TECHNOLOGY CENTER INC.</h3>
        <p class="lead mb-5">
            Chogi language and technology center inc. Is a language training center that provides intensive korean language training to pass the korean language test prescribed by the HRDKOREA (Human Resources Development of Korea) in coordination with POEA (Philippine Overseas Employment Administration). The company has been registered since 2018 under security and exchange commission with registration no. Cs201817522.
        </p>
        <p class="lead mb-5">
            We are helping filipinos to pass the korean language proficiency test with assistance for e registration under poea and eps registration, we assist the students/applicants to pass the step by step requirements to be qualified as a factory worker in south korea. Chogi language and technology center inc. Provides excellent korean language training services to help filipino workers pass the eps-topik exam of poea.</p>

            <h3 class="h1 mb-4 text-dark">What is eps-topik?
            </h3>
            <p class="lead mb-5">
                Eps-topik stands for employment permit system-test of proficiency in korean - simply means pure korean language test. It was implemented by hrd korea & poea to reduce the number of TNT working in south korea.        </p>
            <p class="lead mb-5">
                For common reference, please be aware that there is no more agency if you want to work in south korea. Only poea can give you the employer if you passed their eps-topik. Chogi korean language center services is not agency, we are a korean language training center.
            </p>
            <p class="lead mb-5">
                The company is a corporation duly organized and existing by virtue of philippine laws. It is one of the many service provider language company operating in luzon, bisayas, mindanao and presently has around 7 branches actively serving its enrollees at Cebu City, Mandaue City, Tagbilaran City, Bohol, Tacloban City, Calbayog City, Puerto Princesa City, Palawan and Butuan City.       
             </p>
    </div>                 
</section>

<section data-aos="zoom-in" data-aos-duration="2000" class="border-bottom pb-5 pt-5"> 
    <div class="container pb-5 pt-5"> 
        <div class="row"> 
            <div class="col-lg-4"> 
                <h2 class="h5 text-primary">Who Are We</h2> 
                <h3 class="h1 mb-4 text-dark">We are one of the best korean language learning center in the Philippines</h3> 
            </div>
            <div class="col-lg-8 col-xl-7 offset-xl-1"> 
                <h4 class="h3 mb-4 text-dark">We want to help you guys and having a progressive future with us learn Korean language with us!!!!.</h4>
                <p class="lead mb-4">Prime Korean Language and Review Center offers a lot of services like learning how to speak Korean as fluent as the native Koreans, improving your listening skills, writing and reading, We are also assisting Filipino's to pass the EPS-TOPIK exam for those who wants to work in South Korea as factory workers. We are helping Filipinos to achieve their dreams and fulfill their goals to lift up the status of their living</p>
                <div class="row">
                    <div class="col-md-5">
                        <h4 class="mb-3 text-dark">Vision</h4> 
                        <p>Our vision is to continue our successful mentorship and providing support and assistance to those Filipino students to change their life and bringing out a good and brighter future for them and they may live harmoniously and financially secured while and after working abroad
                        </p> 
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <h4 class="mb-3 text-dark">Mission</h4> 
                        <p>Provide intensive Korean language training to pass the Korean language proficiency test prescribed by the HRD KOREA in coordination with POEA as the main requirements. Assist the students to reach out their goal, to ensure that each student can learn the four basic skills in learning Korean</p> 
                        <p>Language such as Listening, Speaking , Reading and Writing , dedication that together we put our efforts to enable our students fulfil their dreams to work in South Korea.</p> 
                    </div>
                </div>                 
            </div>             
        </div>         
    </div>
	<div class="container">
		<div class="row">
			<div class="tree">
				<ul> <!--1-->					
					<li> 
						<a href="#"><img src="images/ceo.jpg"><span><b>JONWEL SUPRESENCIA</b><br>C.E.O</span></a>
						<div class="content">  									
						<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
						</p></div>	
					</li>			
					<ul><!--2-->	
						<li> <a href="#"><img src="images/admi_head.jpg"><span><b>SALOME SUPRESENCIA</b><br>VICE PRESIDENT</span></a>
							<div class="content"> 	
							<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
							</p></div>
						</li>	
						<ul><!--3-->	
							<li><a href="#"><img src="images/vp_bmanager_1.jpg"><span><b>VINCENT CORONADO </b><br>VP|BRANCH MANAGER</span></a>
								<div class="content">  
								<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.	
								</p></div>
								</li>										
							<li><a href="#"><img src="images/vp_bmanager_2.jpg"><span><b>DANYLIL ASTURIAS </b><br>VP|BRANCH MANAGER</span></a>
								<div class="content">  
								<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
								</p></div>
							</li>
							<li><a href="#"><img src="images/vp_bmanager_3.jpg"><span><b>GERSON ALDE </b><br>VP|BRANCH MANAGER</span></a>
								<div class="content">  
								<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
								</p></div>
							</li>
							<li><a href="#"><img src="images/sec_accnt_head.jpg"><span><b>HAIREL SUPRESENCIA </b><br>VP|BRANCH MANAGER</span></a>
								<div class="content">  
								<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
								</p></div>
							</li>									
							<ul><!--4-->	
							<li><a href="#"><img src="images/sec_teacher_1.jpg"><span><b> CRISTINE DAEL </b><br>TEACHER|SECRETARY</span></a>
								<div class="content">  
								<p> Welcome students! <br> We're so glad you're here.<br><br>
								Allow me to introduce myself. I am Teacher Cristine and I am so excited to share my expertise and be able to inspire you.<br><br>		
								Learning is a meaningful adventure we could ever experience, and we are here to fill your journey  towards learning with so many interesting topics ,skills, and technical assistance that would help you to become more efficient and globally competitive employees. <br><br>	
								PRIME KLC has prepared so many activities that will boost your confidence in achieving your goals and become successful in the future.
								Come and enjoy my class! Be ready for the new version of yourselves. <br> See you soon!
								</p></div>																
							</li>			
							<li><a href="#"><img src="images/sec_teacher_2.jpg"><span> <b>MAEVELLYN OLESCO</b><br>TEACHER|SECRETARY</span></a>
								<div class="content">  
								<p> Hello there, <br>
								This is teacher Maevellyn, I am so excited to have you in my class. As an educator I am grateful to be one of the tools of your success. I assure that our learning process will be a good foundation and fun. <br> <br>	
								Learning is the best thing to do, so that we can aim our goal and I confidently believe that you will. <br><br>
								I hope to see you soon. 😊
								</p></div>																	
							</li>		
							<li><a href="#"><img src="images/teacher_1.jpg"><span> <b>KATHLEEN FATIMA OMILAO RAMOS</b> <br>TEACHER</span></a>
								<div class="content">  
								<p> 안녕하세요 여러분! I am Teacher Kath, and I welcome you to Prime Language and Tech. Center. Here in Prime we value you. And just like our name, PRIME will provide you the best possible quality of learning that you will need to achieve your dream. I believe in you, and I believe that one day your dreams will come true. I know it's been a tough journey for everyone but I will guide you until we reach the end of the road -- your dream. And always remember why you started dreaming, is it for you? Your family? Your loved ones? So whenever you find yourself doubting if you can reach your goal, just remember why you started. Remember everything that you've gone through, all your sacrifices and fears that you've overcome. So never ever give up. I know you can do it. And I'll be more than happy to help and guide you with your journey.
								</p></div>
							</li>
							<li><a href="#"><img src="images/teacher_2.jpg"><span> <b>JAY-AR MALDO </b><br>TEACHER</span></a>
								<div class="content">  
								<p>안녕하세요 여러분! /HELLO EVERYONE 😍 <br><br>
								"The capacity to learn is a GIFT; the ability to learn is a SKILL; the willingness to learn is a CHOICE."
								Given the current circumstances, PRIME Language and Technology Center will look different. We will work together to maintain the health and safety standards against COVID-19 pandemic, while sustaining learning Korean language and personalized attention that is synonymous with PRIME.
								As your mentor I encourage you to think about how you will move forward every day toward earning your certificate and reach the graduation stage.
								PRIME "the center of learning korean language" offers a lot to keep you on the road and reach your dream to work in South Korea.We are going to spend a lot of time strengthening your reading,listening and writing skills.<br><br>
								This year is going to be an adventure.I can assure that our class will be full of fun and excitement.I hope you’re just as excited as I am to begin.<br><br>
								This is Mr. JAYR MALDO your teacher in Korean Language.SEE YOU<br><br>															
								THANK YOU
								</p></div>
							</li>
						</ul><!--4-->
							<ul><!--5-->
								<li><a href="#"><img src="images/teacher_3.jpg"><span> <b>ROYCE MARIE LABIAN </b><br>TEACHER</span></a>
									<div class="content">  
									<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
									</p></div>
								</li>
								<li><a href="#"><img src="images/teacher_4.jpg"><span> <b>MA. THERESA CATALAN </b><br>TEACHER</span></a>
									<div class="content">  
									<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
									</p></div>
								</li>
								<li><a href="#"><img src="images/teacher_5.jpg"><span> <b>ARLENE GALIPOSO </b><br>TEACHER</span></a>
									<div class="content">  
									<p> 안녕하세요! <br><br>
									This is teacher Arlene Your korean teacher. I'm so excited to meet you and It is my pleasure to have you in my class. We're going to have fabulous days full of fun and learning. The Korean language is not that easy but I'm here! I'll make it easier for you.  Remember The journey of a thousand miles begins with one step, and this is the first step. Let's learn together and may our dreams come true.<br><br>
									I hope to see you soon keep safe and god bless.
									</p></div>
								</li>
								<li><a href="#"><img src="images/os_marketing_1.jpg"><span> <b>RUSSEL GALPO </b><br>OFFICE STAFF | MARKETING</span></a>
									<div class="content">  
									<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
									</p></div>
								</li>
							</ul><!--5-->
								<ul><!--6-->
									<li><a href="#"><img src="images/sec_1.jpg"><span> <b>DANGELLI ROSE MUÑOZ </b><br>SECRETARY</span></a>
										<div class="content">  
										<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
										</p></div>
									</li>
									<li><a href="#"><img src="images/vp_bmanager_2.jpg"><span> <b>DANYLIL ASTURIAS </b><br>SECRETARY</span></a>
										<div class="content">  
										<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
										</p></div>
									</li>
									<li><a href="#"><img src="images/prime_logo.jpg"><span> <b>MELODY MARIE MACALISANG </b><br>SECRETARY</span></a>
										<div class="content">  
										<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
										</p></div>
									</li>
									<li><a href="#"><img src="images/prime_logo.jpg"><span> <b>IRISH GOBANGCO </b><br>SECRETARY</span></a>
										<div class="content">  
										<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae odit ut labore esse omnis, possimus rerum vero cumque neque sapiente eum corrupti atque aut! Eum nam ex iste expedita distinctio.
										</p></div>
									</li>
								</ul><!--6-->
									<ul><!--7-->
										<li><a href="#"><img src="images/marketing_1.jpg"><span> <b> JAYSON VERSOSA </b><br>MARKETING STAFF</span></a></li>
										<li><a href="#"><img src="images/marketing_2.jpg"><span> <b> CARLO GUANZON </b><br>MARKETING STAFF</span></a></li>
										<li><a href="#"><img src="images/prime_logo.jpg"><span>  <br>MARKETING STAFF</span></a></li>
										<li><a href="#"><img src="images/prime_logo.jpg"><span>  <br>MARKETING STAFF</span></a></li>
									</ul><!--7-->
										<ul><!--8-->
											<li><a href="#"><img src="images/tricities.jpg"><span> <b>TRICITIES </b><br>BOOKKEPER</span></a></li>
											<li><a href="#"><img src="images/prime_logo.jpg"><span> <b>LIKES TEAM </b><br>IT</span></a></li>
										</ul><!--8-->	
						</ul><!--3-->						
					</ul> <!--2-->													
				</ul><!--1-->	
			</div>
		</div>
	</div>    
</section>

<!-- Talk Section -->
{% include "prime_home/index/talk_section.html" %}
<!--End Of Talk Section-->

{% include "prime_home/footer.html" %}

{% endblock %}

