{% extends 'prime_home/base.html' %}


{% block header %}
    {% include "prime_home/navigation_header_2.html" %}
{% endblock %}

{% block content %}
<section class="primary-color pt-5 text-white">
    <div class="container mb-4 py-5">
        <h1 class="display-5 fw-bold">Our Branches</h1>
    </div>
    <svg viewBox="0 0 1440 185" preserveAspectRatio="none" fill="rgb(0, 97, 168)" version="1.1" xmlns="http://www.w3.org/2000/svg" class="bg-white d-block text-primary" width="100%" height="160">
        <path d="M 0 0 H 1440 V 60 C 1114 355 700 35 516 35 C 333 35 246 199 0 60 V 0 Z"/>
    </svg>
</section>
<section data-aos="fade-right" class="pb-5 pt-2"> 
    <div class="container pb-5 pt-4"> 
        <div class="gy-5 row">
            <div class="col-xl-9 mx-auto">
            <h2 class="text-favorite h1 mb-4 text-center">CEBU</h2>
                <img src="{{url_for('prime_home.static', filename='img/cebu_1.jpg')}}" class="img-fluid mb-3 rounded-3" alt="Sample image" width="1280" height="720"/>
                <p text-center>Room 308, 3rd Floor, Doña Luisa Bldg. Fuente Osmena circle, Cebu City, Cebu</p>
                <div data-aos="zoom-in" data-aos-duration="5000" class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.3910880976364!2d123.89156251525868!3d10.31055297043784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a9994ee442fda9%3A0x104653d874a24e93!2sDo%C3%B1a%20Luisa%20Building%2C%20Fuente%20Osme%C3%B1a%20Cir%2C%20Cebu%20City%2C%206000%20Cebu!5e0!3m2!1sen!2sph!4v1635703555948!5m2!1sen!2sph" height="450" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                </div>                 
            </div>
        </div>                     
    </div>                 
</section>

<section data-aos="fade-left" class="pb-5 pt-2"> 
    <div class="container pb-5 pt-4"> 
        <div class="gy-5 row">
            <div class="col-xl-9 mx-auto">
            <h2 class="text-favorite h1 mb-4 text-center">BOHOL</h2>
                <img src="{{url_for('prime_home.static', filename='img/bohol_1.jpg')}}" class="img-fluid mb-3 rounded-3" alt="Sample image" width="1280" height="720"/>
                <p text-center>Room 201 A. 2nd floor,. Saint Jude Building, Gallares St., corner H Grupo St., Tagbilaran City, Bohol
                </p>
                <div data-aos="zoom-in" data-aos-duration="5000" class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.4645493860594!2d123.85194767582061!3d9.641288290446614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33aa4db05a8f3a9d%3A0xae8089da4239340e!2sSt.%20Jude%20Building%2C%200045%20Celestino%20Gallares%20St%2C%20Tagbilaran%20City%2C%206300%20Bohol!5e0!3m2!1sen!2sph!4v1726319441828!5m2!1sen!2sph" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                </div>     
            </div>
        </div>                     
    </div>                 
</section>


<section data-aos="fade-right" class="pb-5 pt-2"> 
    <div class="container pb-5 pt-4"> 
        <div class="gy-5 row">
            <div class="col-xl-9 mx-auto">
            <h2 class="text-favorite h1 mb-4 text-center">TACLOBAN</h2>
                <img src="{{url_for('prime_home.static', filename='img/tacloban_1.jpg')}}" class="img-fluid mb-3 rounded-3" alt="Sample image" width="1280" height="720"/>
                <p text-center>Room 4B, 4th floor, CATJOY BUILDING, P.Burgos St. Tacloban City, Leyte</p>
                <div data-aos="zoom-in" data-aos-duration="5000" class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3913.2372222295458!2d124.99752901526205!3d11.243951953463242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33087109b372fe23%3A0x7143cd0a7dc75222!2sCatJoy%20Building!5e0!3m2!1sen!2sph!4v1635703963483!5m2!1sen!2sph" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                </div>     
            </div>
        </div>                     
    </div>                 
</section>


<section data-aos="fade-left" class="pb-5 pt-2"> 
    <div class="container pb-5 pt-4"> 
        <div class="gy-5 row">
            <div class="col-xl-9 mx-auto">
            <h2 class="text-favorite h1 mb-4 text-center">PALAWAN</h2>
                <img src="{{url_for('prime_home.static', filename='img/palawan_1.jpg')}}" class="img-fluid mb-3 rounded-3" alt="Sample image" width="1280" height="720"/>
                <p text-center>3rd floor, Yusay incorporated building, Lacao St. Puerto Princesa city, Palawan</p>
                <div data-aos="zoom-in" data-aos-duration="5000" class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d955.0893969315338!2d118.74038254933042!3d9.740430123977106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33b563ddd19c6223%3A0xd8eaa3581acb22f7!2sYusay%20Credit%20and%20Finance%20Corporation!5e0!3m2!1sen!2sph!4v1635731513508!5m2!1sen!2sph" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>                     
    </div>                 
</section>


<!-- Talk Section -->
{% include "prime_home/index/talk_section.html" %}
<!--End Of Talk Section-->

{% include "prime_home/footer.html" %}

{% endblock %}