{% extends 'prime_home/base.html' %}


{% block header %}
    {% include "prime_home/navigation_header_2.html" %}
{% endblock %}

{% block content %}
<section class="primary-color pt-5 text-white">
    <div class="container mb-4 py-5">
        <h1 class="display-5 fw-bold">Our Branches</h1>
    </div>
</section>

<section class="pb-5 pt-2 dark-transparent-bg text-white"> 
    <div class="container pb-5 pt-4"> 
        {% include "prime_home/_branches_list.html" %}          
    </div>                 
</section>


<!-- Talk Section -->
{% include "prime_home/index/talk_section.html" %}
<!--End Of Talk Section-->

{% include "prime_home/footer.html" %}

{% endblock %}