{% extends "prime_home/base.html" %}

{% block content %}

    <!-- Welcome Section-->
    {% include "prime_home/index/welcome_section.html" %}
    <!-- End Of Welcome Section-->

    <!-- About Us Section-->
    {% include "prime_home/index/about_us_section.html" %}
    <!-- End Of About Us Section-->

    <!-- Testimonies Section -->
    {% include "prime_home/index/testimonies_section.html" %}
    <!--End Of Testimonies Section-->

    <!-- Testimonials Section -->
    {% include "prime_home/index/testimonials_section.html" %}
    <!--End Of Testimonials Section-->

    <!-- Services Section -->
    {% include "prime_home/index/services_section.html" %}
    <!--End Of Testimonials Section-->

    <!-- Branches Section -->
    {% include "prime_home/index/branches_section.html" %}
    <!--End Of Branches Section-->

    <!-- Talk Section -->
    {% include "prime_home/index/talk_section.html" %}
    <!--End Of Talk Section-->

{% endblock %}