<nav
class="nav-background border border-left-0 border-right-0 border-top-0 navbar navbar-dark navbar-expand-lg py-lg-1">
<div class="container" id="home">
    <img width="70" height="70" class="embed-responsive-item" src="{{url_for('prime_home.static', filename='img/logo.png')}}"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-4"
        aria-controls="navbarNavDropdown-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown-4">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link px-lg-3 py-lg-4 font-weight-bold text-white" href="{{ url_for('prime_home.index') }}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a @click="scrollGoToAbout" class="nav-link px-lg-3 py-lg-4 font-weight-bold text-white" id="navbarDropdownMenuLink"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link px-lg-3 py-lg-4 font-weight-bold text-white " href="#" id="nav_services"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            </li>
            <li class="nav-item dropdown"> 
                <a class="nav-link px-lg-3 py-lg-4 font-weight-bold text-white" id="nav_testimonies" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Testimonies</a>                         
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link px-lg-3 py-lg-4 font-weight-bold text-white" href="#" id="nav_contact_us"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact
                    Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link px-lg-3 py-lg-4 font-weight-bold text-white" id="btn_branches"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Branches</a>
            </li>
            <li class="nav-item dropdown">
                <a href="{{url_for('prime_home.privacy_policy')}}" class="nav-link px-lg-3 py-lg-4 font-weight-bold text-white" aria-haspopup="true" aria-expanded="false">Privacy Policy</a>
            </li>
            <li class="nav-item dropdown">
                <a href="{{url_for('prime_home.eps_support')}}" class="nav-link px-lg-3 py-lg-4 font-weight-bold text-white" aria-haspopup="true" aria-expanded="false">EPS Support</a>
            </li>
        </ul>
        <a class="btn btn-light ml-lg-auto pl-4 pr-4 rounded-pill font-weight-bold" href="{{url_for('bp_auth.login')}}">Log In</a>
    </div>
</div>
</nav>