{% extends 'prime_home/base.html' %}


{% block header %}
    {% include "prime_home/navigation_header_2.html" %}
{% endblock %}

{% block content %}
<section class="primary-color pt-5 text-white">
    <div class="container mb-4 py-5">
        <h1 class="display-5 fw-bold">Our Testimonies</h1>
        {% for our_testimony in our_testimonies %}
            {% if our_testimony['title'] == 'Proof of Success' %}
                <h2 class="display-5 fw-bold">{{ our_testimony['title'] }}</h2>
                <p class="fs-3 mb-0">{{ our_testimony['gallerydescription'].replace('\n', '<br>') | safe }}</p>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% for our_testimony in our_testimonies %}
    {% if our_testimony['title'] != 'Proof of Success' %}
        <section class="pb-5 pt-5 dark-transparent-bg text-white"> 
            <div class="container pb-5 pt-5"> 
                <h2 class="h5 text-white">Proof of Gallery
                </h2>
                <h3 class="h1 text-favorite2">{{ our_testimony['title'] }}</h3>
                {% if 'gallerydescription' in our_testimony %}
                    <p class="lead">{{ our_testimony['gallerydescription'].replace('\n', '<br>') | safe }}</p>
                {% endif %}
                {% if galleries[our_testimony['_id']] %}
                    <section class="ftco-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hero featured-carousel owl-carousel">
                                        {% for item in galleries[our_testimony['_id']] %}
                                            <div class="item">
                                                <div class="work">
                                                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url({{item}});">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>                 
        </section>
    {% endif %}
{% endfor %}

<!-- Talk Section -->
{% include "prime_home/index/talk_section.html" %}
<!--End Of Talk Section-->

{% include "prime_home/footer.html" %}

{% endblock %}
