<div class="tab-pane show" id="tab-eg6-1" role="tabpanel">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
        </div>
        <div class="col-lg-4 col-xl-4">
            <div class="card mb-3 widget-content">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Total</div>
                        <div class="widget-subheading"></div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-success"><span
                                id="total_office_supply_tab">₱ 0.00</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-4">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2 col-xs-2">
            <div class="position-relative form-group">
                <label for="filter_office_supply_description" class="">Description</label>
                <select id="filter_office_supply_description" class="form-control">
                    <option value="">Choose...</option>
                    <option value="Bond Paper">Bond Paper</option>
                    <option value="Epson Ink">Epson Ink</option>
                    <option value="Epson Ink (Black)">Epson Ink (Black)</option>
                    <option value="Epson Ink (Yellow)">Epson Ink (Yellow)</option>
                    <option value="Epson Ink (Blue)">Epson Ink (Blue)</option>
                    <option value="Epson Ink (Pink)">Epson Ink (Pink)</option>
                    <option value="Whiteboard Marker">Whiteboard Marker</option>
                    <option value="Whiteboard Marker Ink">Whiteboard Marker Ink</option>
                    <option value="PVC Cover">PVC Cover</option>
                    <option value="PVC Cover (8.5x11) 100pcs">PVC Cover (8.5x11) 100pcs</option>
                    <option value="Photo Paper">Photo Paper</option>
                    <option value="Stapler">Stapler</option>
                    <option value="Staple Wire">Staple Wire</option>
                    <option value="Staple Wire (23/24)">Staple Wire (23/24)</option>
                    <option value="Vellum">Vellum</option>
                    <option value="Vellum (Worx 8.5x11)">Vellum (Worx 8.5x11)</option>
                    <option value="Ductape">Ductape</option>
                    <option value="Parchment">Parchment</option>
                    <option value="Parchment (10 pcs per pack)">Parchment (10pcs per pack)</option>
                    <option value="Ball Pen">Ball Pen</option>
                    <option value="Ball Pen (50 pcs)">Ball Pen (50 pcs)</option>
                    <option value="Notebook (50 pcs)">Notebook (50 pcs)</option>
                    <option value="Medal">Medal</option>
                    <option value="Ribbon">Ribbon</option>
                    <option value="Notarial Seals Ribbon">Notarial Seals Ribbon</option>
                    <option value="Notarial Seals Ribbon (10 pcs per box)">Notarial Seals Ribbon (10 pcs per box)</option>
                    <option value="Computer">Computer</option>
                    <option value="Aircon">Aircon</option>
                    <option value="Alcohol">Alcohol</option>
                    <option value="Air Freshener">Air Freshener</option>
                    <option value="Bathroom Cleaner">Bathroom Cleaner</option>
                    <option value="Water Refill">Water Refill</option>
                    <option value="Printer">Printer</option>
                    <option value="Laptop">Laptop</option>
                    <option value="Projector">Projector</option>
                    <option value="Chair">Chair</option>
                    <option value="Arm Chair">Arm Chair</option>
                    <option value="Whiteboard">Whiteboard</option>
                    <option value="Scissor">Scissor</option>
                    <option value="Calculator">Calculator</option>
                    <option value="Correction Pen">Correction Pen</option>
                    <option value="Highlighter">Highlighter</option>
                    <option value="Push Pen">Push Pen</option>
                    <option value="Binder Clip">Binder Clip</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 col-xs-2">
            <div class="position-relative form-group">
                <label for="filter_office_supply_date_from" class="">Date From</label>
                <input id="filter_office_supply_date_from" type="date" class="form-control" placeholder="Date From">
            </div>
        </div>
        <div class="col-md-2 col-xs-2">
            <div class="position-relative form-group">
                <label for="filter_office_supply_date_to" class="">Date To</label>
                <input id="filter_office_supply_date_to" type="date" class="form-control" placeholder="Date To">
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;" class="table-responsive">
        <table id="tbl_office_supply"
            class="align-middle mb-0 table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">DATE</th>
                    <th class="text-center">DESCRIPTION</th>
                    <th class="text-center">SUPPLIER/STORE</th>
                    <th class="text-center">UNIT PRICE</th>
                    <th class="text-center">QTY</th>
                    <th class="text-center">TOTAL AMOUNT DUE</th>
                    <th class="text-center">SETTLED BY</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>