.nav-background{
   background-color:rgb(0, 97, 168);
}

.header-background{
  min-height: 60em;
  background-position: 10% 70%;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(/admin/admin/static/img/welcome_background.jpg);
  background-blend-mode: screen;
  padding: 4em 3em;
  position: relative;
}

.header-background:before {
    content: "";
    inset: 0;
    position: absolute;
    display: block;
    background: rgb(0 97 168 / 50%);
}

.title{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.sub-title{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
}

.svg-head{
    fill: rgb(6, 137, 206);
    opacity: 50%;
}

.about h1{   
   color: rgb(0, 97, 168);
}

.testimony h2{
    color: rgb(0, 97, 168);
}

.message{
    color: black;
    text-align: left;
    font-size: 1.2em;
    
}

.about-section{
    margin: 5em 0em; 
}

.primary-color {
    background-color: rgb(0, 97, 168) !important;
}

.primary-color2 {
    background-color: rgb(90 169 227) !important;
}

.text-favorite {
    color: rgb(0, 97, 168) !important;
}

.text-favorite2 {
    color: rgb(90 169 227) !important;
}

.background-korea-spring {
    background-image: url(https://primeklcbucket.s3.ap-southeast-1.amazonaws.com/landing_page/korea-spring.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000085;
    background-blend-mode: color;
}

.background-korea-autumn {
    background-image: url(https://primeklcbucket.s3.ap-southeast-1.amazonaws.com/landing_page/korea-autum.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000085;
    background-blend-mode: color;
}
body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #0061a8;
}
.dark-transparent-bg {
    background-color: #00000085;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #fff !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

div.dataTables_wrapper div.dataTables_filter input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.organization-chart-container {
    border: 15px solid #715312;
    background-image: linear-gradient(#0004ae, #0002e0, #0004ae);
}

.organization-chart-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.organization-chart-header img {
    height: 150px;
}

.organization-chart-tree ul {
    list-style: none;
}

.organization-chart-tree-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.organization-chart-tree-item::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 30px;
    background: var(--white);
    z-index: 0;
    bottom: -35px;
}

.organization-chart-tree-level3 li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 30px;
    background: var(--white);
    z-index: 0;
    top: -16px;
}

.organization-chart-tree-item-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 10px solid #715312;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.organization-chart-tree-item-content {
    text-align: center;
}

.organization-chart-tree-item-image img {
    height: 100%;
}

.organization-chart-tree-level3 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    padding-top: 20px;
}

.organization-chart-tree-level3::before {
    content: "";
    position: absolute;
    top: -16px;
    width: 800px;
    height: 8px;
    background: var(--white);
    z-index: 0;
    transform: translateX(18%);
}

.organization-chart-tree-level3 li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.organization-chart-tree-level4 {
    position: relative;
}

.organization-chart-tree-level4::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: var(--white);
    z-index: 0;
    top: -30px;
    transform: translateX(4000%);
}

.organization-chart-tree-level4 li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.organization-chart-tree-level4 li::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 125px;
    bottom: -78px;
    background: var(--white);
    z-index: 0;
    transform: translateX(100%);
}

.organization-chart-tree-level4 li:last-child::after {
    content: unset;
}

.organization-chart-tree-teacher {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 40%;
    padding-right: 50px;
    z-index: 2;
}

.organization-chart-tree-manager {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    padding-left: 50px;
    z-index: 2;
}

.organization-chart-tree-branch {
    width: 20%;
    text-align: center;
    background-color: #0004ae;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
    position: relative;
    z-index: 1;
}

.organization-chart-tree-branch h3 {
    font-weight: bold;
}

.organization-chart-tree-branch::before {
    content: "";
    position: absolute;
    left: -55px;
    transform: rotate(90deg);
    width: 8px;
    height: 100px;
    background: var(--white);
    z-index: 0;
}.organization-chart-tree-branch::after {
    content: "";
    position: absolute;
    right: -55px;
    transform: rotate(90deg);
    width: 8px;
    height: 100px;
    background: var(--white);
    z-index: 0;
}

@media (min-width: 1px) {
    .organization-chart-tree-level3::before {
        content: unset;
    }

    .organization-chart-tree-level3 {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .organization-chart-tree-level3 li {
        margin-bottom: 40px;
        position: relative;
    }
    .organization-chart-tree-branch h3 {
        font-size: 0.75rem;
    }

    .organization-chart-tree-level3 li::before {
        content: unset;
    }

    .organization-chart-tree-level3 li::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 30px;
        background: var(--white);
        z-index: 0;
        bottom: -35px;
    }
    .organization-chart-tree-level4::before {
        transform: translateX(2945%);
        top: -35px;
        height: 95px;
    }
    .organization-chart-tree-level4 li::after {
        transform: translateX(0%);
        height: 153px;
        bottom: -95px;
    }
}

@media (min-width: 768px) {
    .organization-chart-tree-level3::before {
        content: '';
    }

    .organization-chart-tree-level3 li::before {
        content: '';
    }

    .organization-chart-tree-level3 li::after {
        content: unset;
    }

    .organization-chart-tree-level3 {
        flex-direction: unset;
        align-items: unset;
        margin-top: 50px;
    }

    .organization-chart-tree-level3 li {
        margin-bottom: unset;
        position: unset;
    }

    .organization-chart-tree-level3::before {
        width: 500px;
        transform: translateX(16%);
    }
    .organization-chart-tree-item-image {
        width: 100px;
        height: 100px;
    }
    .organization-chart-header img {
        height: 100px;
    }
    .organization-chart-tree-branch h3 {
        font-size: 1rem;
    }
    .organization-chart-tree span {
        font-size: 10px;
    }
    .organization-chart-tree-level4::before {
        transform: translateX(4000%);
    }
    .organization-chart-tree-level4 li::after {
        transform: translateX(-50%);
        height: 100px;
        bottom: -78px;
    }
}

@media (min-width: 992px) {
    .organization-chart-tree-level3::before {
        width: 672px;
        transform: translateX(17%);
    }
    .organization-chart-tree-item-image {
        width: 150px;
        height: 150px;
    }
    .organization-chart-header img {
        height: 150px;
    }
    .organization-chart-tree-branch h3 {
        font-size: 1.5rem;
    }
    .organization-chart-tree span {
        font-size: 14px;
    }
    .organization-chart-tree-level4::before {
        transform: translateX(5500%);
    }
    .organization-chart-tree-level4 li::after {
        transform: translateX(-50%);
        height: 127px;
    }
}

@media (min-width: 1200px) {
    .organization-chart-tree-level3::before {
        width: 811px;
        transform: translateX(17%);
    }
    .organization-chart-tree-branch h3 {
        font-size: 1.75rem;
    }
    .organization-chart-tree-level4::before {
        transform: translateX(6650%);
    }
    .organization-chart-tree-level4 li::after {
        height: 127px;
    }
}