<section class="about border border-left-0 border-right-0 border-top-0 pb-5 pt-5 text-center"
id="about">
<div class="container pb-5 pt-5">
    <div class="row">
        <div class="col-lg-12 ml-auto mr-auto">
            <h1 data-aos="zoom-in">Hello There!!!</h1>
            <p data-aos="zoom-in" data-aos-duration="2000" class="mb-4">
                WELCOME TO PRIME KOREAN LANGUAGE AND REVIEW CENTER INC. 
                IT'S GREAT TO MEET YOU HERE!<br>
                
                I WANT TO WELCOME EVERYONE ON THIS SITE<br>
                
                BECAUSE YOU WANT TO PREPARE FOR YOUR FUTURE, KNOWING OTHER LANGUAGE AND APPRECIATING OTHER CULTURES, THESE ARE THE SKILLS THAT LAST A LIFETIME.
                WHETHER YOUR INTEREST IS WORLD AFFAIRS LIKE KDRAMAS OR KPOPS, TECHNOLOGY, BUSINESS, FACTORY WORKS OR JUST BROADENING YOUR MIND IN LEARNING KOREAN LANGUAGE WE WILL LEAVE WITH KNOWLEDGE AND UNDERSTANDING THAT COULD PROBABLY HELP YOU A LOT.
                SO IF YOU'RE LOOKING FOR AN EASY SECOND LANGUAGE TO LEARN, YOU ARE ON THE RIGHT TRACK, PRIME LTCI IS OFFERING THE BEST SERVICE FOR THOSE INTERESTED TO LEARN “HANGUL”. LEARNING KOREAN LANGUAGE GIVES YOU ACCESS TO A WONDERFULLY AMAZING AND INTERESTING GROUP OF INDIVIDUALS, SOUTH KOREA IS GENERALLY REGARD AS SOME OF THE MOST TECHNOLOGICALLY WELL ADJUSTED PEOPLE IN THE WORLD.<br>
                
                PRIME KOREAN LANGUAGE AND REVIEW CENTER OFFERS A LOT OF SERVICES LIKE LEARNING HOW TO SPEAK KOREAN AS FLUENT AS THE NATIVE KOREANS, IMPROVING YOUR LISTENING SKILLS, WRITING AND READING, WE ARE ALSO ASSISTING FILIPINO’S TO PASS THE EPS-TOPIK EXAM FOR THOSE WHO WANTS TO WORK IN SOUTH KOREA AS FACTORY WORKERS. WE ARE HELPING FILIPINOS TO ACHIEVE THEIR DREAMS AND FULFILL THEIR GOALS TO LIFT UP THE STATUS OF THEIR LIVING.
                WE WANT TO HELP YOU GUYS SEEING AND HAVING A PROGRESSIVE FUTURE WITH US 
                LEARN KOREAN LANGUAGE WITH US!!!!</p>
                <h5 data-aos="zoom-in" data-aos-duration="5000" class="h5 mb-4 text-dark">Welcome to our team
                </h5>
            <!-- <a data-aos="zoom-in" data-aos-duration="5000" class="btn btn-danger pl-4 pr-4 rounded-pill" href="#">Learn More</a> -->
            <div data-aos="zoom-in" class="embed-responsive embed-responsive-16by9 mb-4">
                <video width="560" class="embed-responsive-item" controls>
                    <source src="{{url_for('prime_home.static', filename='img/welcome_vid_1.mp4')}}" type="video/mp4">
                </video>
            </div>
            <div class="pb-4 pt-4 text-center">
                <a style="color: white;" class="btn primary-color pl-4 pr-4 rounded-pill" href="{{url_for('prime_home.about')}}">View More</a>
            </div>
        </div>
 
    </div>
</div>
</section>
