<section class="about border border-left-0 border-right-0 border-top-0 pb-5 pt-5 text-center"
id="about">
<div class="container pb-5 pt-5">
    <div class="row">
        <div class="col-lg-12 ml-auto mr-auto">
            <h1 data-aos="zoom-in">Hello There!!!</h1>
            <p data-aos="zoom-in" data-aos-duration="2000" class="mb-4">We are glad that you want to know us better! 
                PRIME KOREAN LANGUAGE AND REVIEW CENTER. would like to welcome you all , in case of queries feel free to ask anything you want. We want to make sure to give you the best service we could offer.
                In the meantine to give you a little context about the company and what's important to us.
                Our company IS A LANGUAGE TRAINING CENTER THAT PROVIDES  KOREAN LANGUAGE TRAINING TO PASS THE KOREAN LANGUAGE TEST PRESCRIBED BY THE HRD KOREA( HUMAN RESOURCES DEVELOPMENT OF KOREA) IN COORDINATION WITH POEA( PHILIPPINE OVERSEAS EMPLOYMENT ADMINISTRATION),WITH REGISTRATION NO. CS201817522 under Security and exchange commision.The company is a corporation duly organized and existing by virtue of Philippine laws. It is one of the many Service Provider Language Companies operating in Luzon, Visayas, Mindanao and currently has 7 branches actively serving and continually giving assistance to Filipinos.
                Again, we welcome you all, If you have questions prioINTENSIVEr to company's details, kindly send us an email 
                </p>
                <h5 data-aos="zoom-in" data-aos-duration="5000" class="h5 mb-4 text-dark">Welcome to our team
                </h5>
            <!-- <a data-aos="zoom-in" data-aos-duration="5000" class="btn btn-danger pl-4 pr-4 rounded-pill" href="#">Learn More</a> -->
            <div class="pb-4 pt-4 text-center">
                <a style="color: white;" class="btn primary-color pl-4 pr-4 rounded-pill" href="{{url_for('prime_home.about')}}">View More</a>
            </div>
        </div>
 
    </div>
</div>
</section>