<section data-aos="fade-right" class="pb-5 pt-5">
    <div class="container pb-5 pt-5">
        <div class="align-items-center mb-3 row">
            <div class="col-lg-7">
                <h5 class="mb-1 text-danger">Services</h5>
                <h2 class="text-dark">Lorem Ipsum dolor sit amet</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor. </p>
            </div>
            <div class="col-lg-auto ml-auto">
                <a class="btn btn-danger pl-4 pr-4 rounded-pill" href="#">Learn More</a>
            </div>
        </div>
        <div class="justify-content-center row">
            <div data-aos="flip-left" class="col-lg-4 col-md-6 col-xl-4 pb-3 pt-3">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="60"
                        height="60" class="mb-3 text-danger">
                        <g>
                            <path fill="none" d="M0 0H24V24H0z" />
                            <path
                                d="M5 3v16h16v2H3V3h2zm15.293 3.293l1.414 1.414L16 13.414l-3-2.999-4.293 4.292-1.414-1.414L13 7.586l3 2.999 4.293-4.292z" />
                        </g>
                    </svg>
                    <h4 class="mb-3 text-dark">Learn Korean</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor.</p>
                    <a href="#" class="text-danger">Learn More</a>
                </div>
            </div>
            <div data-aos="flip-left" class="col-lg-4 col-md-6 col-xl-4 pb-3 pt-3">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="60"
                        height="60" class="mb-3 text-danger">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M7.05 14.121L4.93 16.243l2.828 2.828L19.071 7.757 16.243 4.93 14.12 7.05l1.415 1.414L14.12 9.88l-1.414-1.415-1.414 1.415 1.414 1.414-1.414 1.414-1.414-1.414-1.415 1.414 1.415 1.414-1.415 1.415L7.05 14.12zm9.9-11.313l4.242 4.242a1 1 0 0 1 0 1.414L8.464 21.192a1 1 0 0 1-1.414 0L2.808 16.95a1 1 0 0 1 0-1.414L15.536 2.808a1 1 0 0 1 1.414 0zM14.12 18.363l1.415-1.414 2.242 2.243h1.414v-1.414l-2.242-2.243 1.414-1.414L21 16.757V21h-4.242l-2.637-2.637zM5.636 9.878L2.807 7.05a1 1 0 0 1 0-1.415l2.829-2.828a1 1 0 0 1 1.414 0L9.88 5.635 8.464 7.05 6.343 4.928 4.929 6.343l2.121 2.12-1.414 1.415z" />
                        </g>
                    </svg>
                    <h4 class="mb-3 text-dark">Work in South Korea</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor.</p>
                    <a href="#" class="text-danger">Learn More</a>
                </div>
            </div>
            <div data-aos="flip-left" class="col-lg-4 col-md-6 col-xl-4 pb-3 pt-3">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="60"
                        height="60" class="mb-3 text-danger">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z" />
                            <path
                                d="M9 18H4v-8h5v8zm-2-2v-4H6v4h1zm6 0V8h-1v8h1zm2 2h-5V6h5v12zm4-2V4h-1v12h1zm2 2h-5V2h5v16zm1 4H3v-2h19v2z" />
                        </g>
                    </svg>
                    <h4 class="mb-3 text-dark">Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae congue tortor.</p>
                    <a href="#" class="text-danger">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<svg viewBox="0 0 1440 134" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg"
class="svg-header d-block text-dark" width="100%" height="80">
<path d="M 0 0 H 1440 V 60 C 854 276 596 -66 0 60 V 0 Z" />
</svg>
