<section data-aos="zoom-in" class="bg-light border border-left-0 border-right-0 border-top-0 pb-5 pt-5"
id="testimonies">
<div class="testimony container pb-5 pt-5">
    <h2 class="h1 mb-4 text-center">Our Testimonies</h2>
    <div class="align-items-center row">
        <div class="col-lg-4 pb-3 pt-3">
            <img src="{{url_for('prime_home.static', filename='img/default-image.jpg')}}" width="1188.238" height="500.402"
                viewBox="0 0 1188.238 884.402" class="col-8 col-lg-12 d-block img-fluid ml-auto mr-auto">
        </div>
        <div data-aos="fade-right" class="col-lg-6 pb-3 pt-3">
            <div class="pb-3 pt-3">
                <h3 class="text-dark">Proof of Gallery</h3>
                <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                    volutpat sem ac elit rutrum rhoncus. Donec a lacinia metus. Morbi volutpat interdum sem,
                    vitae aliquam odio tempor blandit.Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div data-aos="fade-left" class="align-items-center row">
        <div class="col-lg-4 offset-lg-2 pb-3 pt-3">
            <img src="{{url_for('prime_home.static', filename='img/class_1.jpg')}}" width="1154.563" height="500.865"
                viewBox="0 0 1154.563 886.865" class="col-8 col-lg-12 d-block img-fluid ml-auto mr-auto">
        </div>
        <div class="col-lg-6 pb-3 pt-3">
            <div class="pb-3 pt-3">
                <h3 class="text-dark">Orientation</h3>
                <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                    volutpat sem ac elit rutrum rhoncus. Donec a lacinia metus. Morbi volutpat interdum sem,
                    vitae aliquam odio tempor blandit.Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="align-items-center row">
        <div class="col-lg-4 pb-3 pt-3">
            <img src="{{url_for('prime_home.static', filename='img/default-image.jpg')}}" width="1171.07" height="500.585"
                viewBox="0 0 1171.07 884.585" class="col-8 col-lg-12 d-block img-fluid ml-auto mr-auto">
        </div>
        <div data-aos="fade-right" class="col-lg-6 pb-3 pt-3">
            <div class="pb-3 pt-3">
                <h3 class="text-dark">Actual Class</h3>
                <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                    volutpat sem ac elit rutrum rhoncus. Donec a lacinia metus. Morbi volutpat interdum sem,
                    vitae aliquam odio tempor blandit.Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="align-items-center row">
        <div class="col-lg-4 offset-lg-2 pb-3 pt-3">
            <img src="{{url_for('prime_home.static', filename='img/default-image.jpg')}}" width="1255.003" height="500.707"
                viewBox="0 0 1255.003 870.707" class="col-8 col-lg-12 d-block img-fluid ml-auto mr-auto">
        </div>
        <div data-aos="fade-left" class="col-lg-6 pb-3 pt-3">
            <div class="pb-3 pt-3">
                <h3 class="text-dark">Graduation</h3>
                <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                    volutpat sem ac elit rutrum rhoncus. Donec a lacinia metus. Morbi volutpat interdum sem,
                    vitae aliquam odio tempor blandit.Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="align-items-center row">
        <div class="col-lg-4 pb-3 pt-3">
            <img src="{{url_for('prime_home.static', filename='img/default-image.jpg')}}" width="1175.976" height="500.199"
                viewBox="0 0 1175.976 864.199" class="col-8 col-lg-12 d-block img-fluid ml-auto mr-auto">
        </div>
        <div class="col-lg-6 pb-3 pt-3">
            <div data-aos="fade-right" class="pb-3 pt-3">
                <h3 class="text-dark">Skill Test</h3>
                <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                    volutpat sem ac elit rutrum rhoncus. Donec a lacinia metus. Morbi volutpat interdum sem,
                    vitae aliquam odio tempor blandit.Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="align-items-center row">
        <div class="col-lg-4 offset-lg-2 pb-3 pt-3">
            <img src="{{url_for('prime_home.static', filename='img/default-image.jpg')}}" width="1329.507" height="500.707"
                viewBox="0 0 1329.507 825.707" class="col-8 col-lg-12 d-block img-fluid ml-auto mr-auto">
        </div>
        <div class="col-lg-6 pb-3 pt-3">
            <div data-aos="fade-left" class="pb-3 pt-3">
                <h3 class="text-dark">Departure in South Korea</h3>
                <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                    volutpat sem ac elit rutrum rhoncus. Donec a lacinia metus. Morbi volutpat interdum sem,
                    vitae aliquam odio tempor blandit.Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</div>
</section>