<section class="header-background pb-5 pt-5 text-white">
    <section class="container pb-5 pt-5">

        <div data-aos="fade-up" class="align-items-center row">
            <div class="col-lg-6 pb-3 pt-3">
                <h1 class="display-4 font-weight-bold mb-3">Prime Korean Language and Review Center Inc.</h1>
                <p class="font-weight-light lead mb-4">...</p>
                <!-- <a class="btn btn-outline-light pl-4 pr-4 rounded-pill" href="{{url_for('prime_home.pre_register')}}">Pre-register</a> -->
                <a id="btn_contact_now" class="btn btn-light ml-2 pl-4 pr-4 rounded-pill" href="#">Contact Now</a>
            </div>
        </div>
    </section>
</section>
<svg viewBox="0 0 1440 185" preserveAspectRatio="none" fill="currentColor" version="1.1"
    xmlns="http://www.w3.org/2000/svg" class="svg-head d-block text-danger" width="100%" height="160">
    <path d="M 0 0 H 1440 V 60 C 1114 355 700 35 516 35 C 333 35 246 199 0 60 V 0 Z" />
</svg>
