<div>
    <section class="header-background pb-5 pt-5 text-white">
        <section class="container pb-5 pt-5">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-end">
                    <div class="d-flex" style="background-color: #4263b4;padding: 10px 15px;">
                        <a class="btn btn-link p-0" href="https://www.instagram.com/prime_klc_philippines" target="_blank">
                            <img src="https://primeklcbucket.s3.ap-southeast-1.amazonaws.com/landing_page/instagram.jpeg" class="img-fluid" style="height:50px;border: 3px solid #000077;">
                        </a>
                        <a class="btn btn-link ml-3 p-0" href="https://www.facebook.com/PrimeForWorkinSouthKorea?mibextid=ZbWKwL" target="_blank">
                            <img src="https://primeklcbucket.s3.ap-southeast-1.amazonaws.com/landing_page/facebook.jpeg" class="img-fluid" style="height:50px;border: 3px solid #000077;">
                        </a>
                    </div>
                </div>
            </div>
    
            <div data-aos="fade-up" class="align-items-center row">
                <div class="col-lg-6 pb-3 pt-3">
                    <h1 class="display-4 font-weight-bold mb-3">Prime Korean Language and Review Center Inc.</h1>
                    <p class="font-weight-light lead mb-4">OFFERS A LOT OF SERVICES LIKE LEARNING HOW TO SPEAK KOREAN AS FLUENT AS THE NATIVE KOREANS, IMPROVING YOUR LISTENING SKILLS, WRITING AND READING, WE ARE ALSO ASSISTING FILIPINO’S TO PASS THE EPS-TOPIK EXAM FOR THOSE WHO WANTS TO WORK IN SOUTH KOREA AS FACTORY WORKERS. WE ARE HELPING FILIPINOS TO ACHIEVE THEIR DREAMS AND FULFILL THEIR GOALS TO LIFT UP THE STATUS OF THEIR LIVING.
    WE WANT TO HELP YOU GUYS SEEING AND HAVING A PROGRESSIVE FUTURE WITH US 
    LEARN KOREAN LANGUAGE WITH US!!!!</p>
                    <!-- <a class="btn btn-outline-light pl-4 pr-4 rounded-pill" href="{{url_for('prime_home.pre_register')}}">Pre-register</a> -->
                    <a id="btn_contact_now" class="btn btn-light ml-2 pl-4 pr-4 rounded-pill" href="#">Contact Now</a>
                </div>
    
                <div class="col-lg-6 pb-3 pt-3 d-flex flex-wrap justify-content-end ">
                    {% if weekdays_class or saturday_class or sunday_class %}
                        <div class="mb-3 w-75" style="max-height: 250px;overflow: hidden;overflow-y: scroll;scrollbar-color: #0061a8 #ffffff00;scrollbar-width: thin;padding-right: 5px;">
                            <h2 class="display-5 font-weight-bold text-center">CLASS SCHEDULE</h2>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% if weekdays_class %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="weekdaysclass-tab" data-toggle="tab" data-target="#weekdaysclass" type="button" role="tab" aria-controls="weekdaysclass" aria-selected="true">Weekdays Class</button>
                                    </li>
                                {% endif %}
                                {% if saturday_class %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link {%if not weekdays_class %}active{% endif %}" id="saturdayclass-tab" data-toggle="tab" data-target="#saturdayclass" type="button" role="tab" aria-controls="saturdayclass" aria-selected="false">Saturday Class</button>
                                    </li>
                                {% endif %}
                                {% if sunday_class %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link {%if not weekdays_class and not saturday_class %}active{% endif %}" id="sundayclass-tab" data-toggle="tab" data-target="#sundayclass" type="button" role="tab" aria-controls="sundayclass" aria-selected="false">Sunday Class</button>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                {% if weekdays_class %}
                                    <div class="tab-pane fade show active" id="weekdaysclass" role="tabpanel" aria-labelledby="weekdaysclass-tab">
                                        <table class="align-middle mb-0 table table-bordered table-info mb-2 table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">BRANCH</th>
                                                    <th class="text-center">START OF CLASS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in weekdays_class %}
                                                    <tr>
                                                        <td class="text-center">{{item['branch_name']}}</td>
                                                        <td class="text-center">{{item['start_date']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                {% if saturday_class %}
                                    <div class="tab-pane fade {%if not weekdays_class %}show active{% endif %}" id="saturdayclass" role="tabpanel" aria-labelledby="saturdayclass-tab">
                                        <table class="align-middle mb-0 table table-bordered table-info mb-2 table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">BRANCH</th>
                                                    <th class="text-center">START OF CLASS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in saturday_class %}
                                                    <tr>
                                                        <td class="text-center">{{item['branch_name']}}</td>
                                                        <td class="text-center">{{item['start_date']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                {% if sunday_class %}
                                    <div class="tab-pane fade {%if not weekdays_class and not saturday_class %}show active{% endif %}" id="sundayclass" role="tabpanel" aria-labelledby="sundayclass-tab">
                                        <table class="align-middle mb-0 table table-bordered table-info mb-2 table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">BRANCH</th>
                                                    <th class="text-center">START OF CLASS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in sunday_class %}
                                                    <tr>
                                                        <td class="text-center">{{item['branch_name']}}</td>
                                                        <td class="text-center">{{item['start_date']}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="text-right">
                        <h2 class="display-5 font-weight-bold">TOP-10 Latest Passers</h2>
                        <ul class="lead list-unstyled js-latest-passers">
                        </ul>
                        <a class="btn btn-light ml-2 pl-4 pr-4 rounded-pill" href="{{url_for('prime_home.passers')}}">View More</a>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </section>
</div>
