{% extends "admin/admin_base.html" %}


{% block scripts %}
<script>
    $(document).ready(function(){
        $("#li_accommodation").addClass('mm-active');

        var dtbl_search = $("#tbl_mdl_clients").DataTable({
            "pageLength": 10,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                },
            ],
            "ajax": {
                "url": "/learning-management/api/dtbl/registered-students",
            }
        });
    
        $('#btn_confirm').click( function () {
            var selected = dtbl_search.row('.selected').data();
            
            $.ajax({
                url: '/learning-management/api/clients/' + selected[0],
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    console.log(response)
                    $("#client_id").val(response.data.id);
                    $("#branch_id").val(response.data.branch);
                    $("#registration_no").val(response.data.registration_no);
                    $("#branch").val(response.data.branch_name);
                    $("#full_name").val(response.data.fname + " " + response.data.mname + " " + response.data.lname);
                    $("#batch").val(response.data.batch_number);
                    $("#schedule").val(response.data.schedule);
                    $("#status").val(response.data.payment_status);
                }
            });
        });

        $('#tbl_mdl_clients tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                dtbl_search.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );

        $("#date_from").change(function(){
            computeNoOfDaysAmount();
        });

        $("#date_to").change(function(){
            computeNoOfDaysAmount();
        });

        function computeNoOfDaysAmount() {
            var start = new Date($('#date_from').val());
            var end = new Date($('#date_to').val());
            
            // end - start returns difference in milliseconds 
            var diff = new Date(end - start);
            
            // get days
            var days = diff/1000/60/60/24;

            if(days < 0){
                alert("Invalid no of days");
                $("#no_of_days").val(0);
                return;
            }

            $("#no_of_days").val(days);

            var total = parseFloat($("#price_per_day").val()) * parseFloat($("#no_of_days").val());
            $("#total").val(total);
        }

        var dtbl_accommodations = $('#tbl_accommodations').DataTable({
            "dom": 'rtip',
            "pageLength": 20,
            "order": [[1, 'asc']],
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "ordering": false,
            "columnDefs": [
                { "visible": false, "targets": 0},
            ],
            "ajax": {
                "url": "/learning-management/dtbl/accommodations",
                "data": function (d) {
                    d.branch = $("#branch_filter").val();
                },
            }
        });

        $("#branch_filter").change(function(){
            dtbl_accommodations.ajax.reload();
        });
    });
</script>
{% endblock %}


{% block content %}
<div class="app-main__inner">
    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="{{ RENDERED_MODEL.__amicon__ }} icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    Accommodation
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>

            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn-shadow dropdown-toggle btn btn-info">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-list-alt fa-w-20"></i>
                                    </span>
                        Actions
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            {% if session['permissions'][RENDERED_MODEL.__amname__] is defined %}
                            {% if session['permissions'][RENDERED_MODEL.__amname__]['delete'] or current_user.is_superuser %}
                            <li id="nav_action_btns" class="nav-item">
                                {% block dropdown_buttons %}
                                <button disabled id="btndelete" type="button" tabindex="0" class="dropdown-item">Delete</button>
                                {% endblock %}
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                        No actions
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% else %}
                            <li class="nav-item">
                                <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                        No actions
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-card mb-3 card">
        <form action="{{ url_for('lms.accomodate') }}" id="frm_create" class="needs-validation" method="POST" novalidate>
            <input required type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input id="client_id" name="client_id" type="hidden" class="form-control">
            <input id="branch_id" name="branch_id" type="hidden" class="form-control">
    
        <div class="card-body">
            <h5 class="card-title">Form</h5>
            <div class="form-row"> 
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="registration_no" class="">Search Registration No.</label>
                        <div class="input-group"><input id="registration_no" name="registration_no" type="text"
                                class="form-control" required readonly>
                            <div class="input-group-append">
                                <button type="button" data-toggle="modal" data-target="#mdl_search_client_last_name"
                                    data-placement="bottom" class="btn btn-primary pe-7s-search">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="branch" class="">Branch</label>
                        <input required readonly id="branch" type="text" class="form-control">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="full_name" class="">Full name</label>
                        <input required readonly name="full_name" id="full_name" type="text" class="form-control">

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="batch" class="">Batch</label>
                        <input required readonly name="batch" id="batch" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="position-relative form-group">
                        <label for="schedule" class="">Schedule</label>
                        <input required readonly name="suffix" id="schedule" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="position-relative form-group">
                        <label for="status" class="">Status</label>
                        <input required readonly id="status" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="date_from" class="">Date From</label>
                        <input required name="date_from" id="date_from" type="date" class="form-control">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid date of birth
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="date_to" class="">Date To</label>
                        <input required name="date_to" id="date_to" type="date" class="form-control">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid date of birth
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="remarks" class="">Remarks</label>
                        <select name="remarks" id="remarks" class="form-control" required>
                            <option value="">Choose...</option>
                            <option value="Review">Review</option>
                            <option value="Basic">Basic</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a schedule
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="price_per_day" class="">Price Per Day</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">₱</span></div>
                            <input readonly required name="price_per_day" id="price_per_day" placeholder="Amount" step="1" type="number" class="form-control" value="50.00">
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid amount
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="no_of_days" class="">No of Days</label>
                        <input required readonly value="0" id="no_of_days" type="number" class="form-control">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid value
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="total" class="">Total</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">₱</span></div>
                            <input required  readonly required id="total" placeholder="Total Amount" step="1" type="number" class="form-control">
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid amount
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        
        <div class="d-block text-right card-footer">
            <input class="btn-wide btn btn-success" type="submit" class="btn btn-primary" value="CONFIRM">
        </div>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </form>
    </div>

    <div class="main-card mb-3 card"><h5 class="card-header">Accommodations</h5>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="lname" class="">Search</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <input disabled id="search_input" placeholder="Last Name" type="text" class="form-control">
                                <button disabled id="btn_search" class="btn btn-primary"><i class="pe-7s-search">
                                    </i></button>
                                <button disabled id="btn_clear_entry" class="border-0 btn-transition btn btn-outline-danger"><i
                                        class="pe-7s-close">
                                    </i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="branch_filter" class="">Branch</label>
                        <select name="branch_filter" id="branch_filter" class="form-control" required>
                            <option value="all">All</option>
                            {% for branch in TABLE_OPTIONS['branches'] %}
                            <option value="{{ branch.id }}">
                                {{ branch.name }}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a schedule
                        </div>
                    </div>
                </div>
            
            </div>

            <div class="table-responsive">
                <table id="tbl_accommodations" class="align-middle mb-0 table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            {% for column in TABLE_OPTIONS['table_columns'] %}
                            <th class="text-center">{{ column.upper() }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Load with ajax request -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
