<div id="mdl_add_fund" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fund from Head Office</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm_add_fund" action="{{url_for('lms.fund_wallet_add_fund')}}" method="POST" novalidate="novalidate">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="branch" class="">Branch</label>
                                        <select name="branch" id="branch" class="form-control">
                                            <option value="">Choose...</option>
                                            {% for branch in branches %}
                                                <option value="{{branch.id}}">{{branch.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="bank_name"
                                            class="">Bank Name / Remittance Center</label><input name="bank_name" id="bank_name"
                                            type="text" class="form-control">
                                        </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="transaction_no"
                                            class="">Transaction No.</label><input name="transaction_no" id="transaction_no"
                                            type="text" class="form-control"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="sender"
                                            class="">Sender</label><input name="sender" id="sender"
                                            type="text" class="form-control">
                                       </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="amount_received"
                                            class="">Amount Received</label>
                                            <input id="amount_received" placeholder="Amount" step="1" type="number" name="amount_received" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="receiver"
                                            class="">Receiver</label><input name="receiver" id="receiver"
                                            type="text" class="form-control">
                                            </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><label for="remarks"
                                            class="">Remarks</label><input name="remarks" id="remarks"
                                            type="text" class="form-control">
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btn_add_fund" type="submit" class="btn btn-success">Add fund</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
