<div id="mdl_add_fund" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fund from Head Office</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm_add_fund" action="{{url_for('lms.fund_wallet_add_fund')}}" method="POST" novalidate="novalidate">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="branch" class="">Branch</label>
                                        <select name="branch" id="branch" class="form-control">
                                            <option value="">Choose...</option>
                                            {% for branch in branches %}
                                                <option value="{{branch.id}}">{{branch.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="thru" class="">Thru</label>
                                        <select name="thru" id="thru" class="form-control">
                                            <option value="">Choose...</option>
                                            <option value="BANK">BANK</option>
                                            <option value="REMITTANCE">REMITTANCE</option>
                                            <option value="CASH ON HAND">CASH ON HAND</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="bank" class="">BANK</label>
                                        <select disabled name="bank" id="bank" class="form-control">
                                            <option value="">Choose...</option>
                                            <option value="METROBANK">METROBANK</option>
                                            <option value="BDO">BDO</option>
                                            <option value="LANDBANK">LANDBANK</option>
                                            <option value="BPI">BPI</option>
                                            <option value="RCBC">RCBC</option>
                                            <option value="CHINABANK">CHINABANK</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="remittance" class="">REMITTANCE</label>
                                        <select disabled name="remittance" id="remittance" class="form-control">
                                            <option value="">Choose...</option>
                                            <option value="PALAWAN PAWNSHOP">PALAWAN PAWNSHOP</option>
                                            <option value="CEBUANA LHUILLIER">CEBUANA LHUILLIER</option>
                                            <option value="M LHUILLIER">M LHUILLIER</option>
                                            <option value="GCASH">GCASH</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="account_name"
                                            class="">Account Name</label><input disabled name="account_name" id="account_name"
                                            type="text" class="form-control"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="account_no"
                                            class="">Account Number</label><input disabled name="account_no" id="account_no"
                                            type="text" class="form-control">
                                       </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="transaction_no"
                                            class="">Transaction Code</label><input disabled name="transaction_no" id="transaction_no"
                                            type="text" class="form-control"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="amount_received"
                                            class="">Amount</label>
                                            <input disabled id="amount_received" placeholder="Amount" step="any" min=0 type="number" name="amount_received" class="form-control">
                                    </div>
                                </div>
                             
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="sender"
                                            class="">Sender</label><input disabled name="sender" id="sender"
                                            type="text" class="form-control">
                                       </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="receiver"
                                            class="">Receiver</label><input disabled name="receiver" id="receiver"
                                            type="text" class="form-control">
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btn_add_fund" type="submit" class="btn btn-success">Add fund</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
