<div id="mdl_add_expenses" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Operational Expenses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm_add_expenses" action="{{url_for('lms.fund_wallet_add_expenses')}}" method="POST" novalidate>
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="branch_expenses" class="">Branch</label>
                                        <select name="branch" id="branch_expenses" class="form-control" required>
                                            {% if current_user.role.name != "Secretary" %}
                                            <option value="">Choose...</option>
                                            {% endif %}

                                            {% for branch in branches %}
                                            <option value="{{branch.id}}">{{branch.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="category" class="">Category</label>
                                        <select name="category" id="category" class="form-control" required>
                                            <option value="">Choose...</option>
                                            <option value="utilities">Utilities</option>
                                            <option value="office_supply">Office Supply</option>
                                            <option value="salary">Salary</option>
                                            <option value="rebates">Rebates</option>
                                            <option value="other_expenses">Other Expenses</option>
                                            <option value="BIR">BIR</option>
                                            <option value="Business Permit">Business Permit</option>
                                            <option value="Employee Benefits">Employee Benefits</option>
                                            <option value="Bookeeper Retainer Fee">Bookeeper's Retainers Fee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <label id="label_description" for="description" class="">Description</label>
                                        <select name="description" id="description" class="form-control" required>
                                            <option value="">Choose category first...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label id="lbl_account_no" for="account_no" class="">Account
                                            No. / Particular</label><input name="account_no" id="account_no" type="text"
                                            class="form-control" required></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group"><label id="lbl_billing_month_from" for="billing_month_from"
                                            class="">Billing Month From</label>
                                        <input name="billing_month_from" id="billing_month_from" type="date"
                                            class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group"><label id="lbl_billing_month_to" for="billing_month_to"
                                            class="">Billing Month To</label>
                                        <input name="billing_month_to" id="billing_month_to" type="date"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="position-relative form-group"><label for="total_amount_due"
                                            class="">Qty</label>
                                        <input id="qty" placeholder="Quantity" step="1" type="number"
                                            name="qty" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group"><label for="total_amount_due"
                                            class="">Unit Price</label>
                                        <input required id="unit_price" placeholder="Price" step="any" type="number"
                                            name="unit_price" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group"><label for="total_amount_due"
                                            class="">Total Amount Due</label>
                                        <input required id="total_amount_due" step="any" placeholder="Amount" step="1"
                                            type="number" name="total_amount_due" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="settled_by" class="">Settled
                                            By</label><input name="settled_by" id="settled_by" type="text"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="btn_add_expenses" type="submit" class="btn btn-success">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>