<div id="mdl_approve" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approve Earnings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="tbl_deposit" class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbl_mdl_approve_earnings" style="width:100%; cursor:pointer;" class="mb-0 table">
                                <thead>
                                    <tr>
                                        <th>STUDENT ID</th>
                                        <th>PAYMENT ID</th>
                                        <th>MARKETER</th>
                                        <th>FULL NAME</th>
                                        <th>BATCH NO.</th>
                                        <th>EARNINGS</th>
                                        <th>SCHEDULE</th>
                                        <th>REMARK</th>
                                        <th>STATUS</th>
                                        <!-- <th>BALANCE</th> -->
                                        <!-- <th>DEPOSIT</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- load with ajax -->
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <script>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (function () {
                        'use strict';
                        window.addEventListener('load', function () {
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.getElementsByClassName('needs-validation');
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                            });
                        }, false);
                    })();
                </script>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btn_approve_earning" type="submit" class="btn btn-success">Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>