<div id="upgradeModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upgrade to Premium Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('lms.upgrade_to_premium')}}" method="POST">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                        <h5 class="card-title">Student Information</h5>

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" class="form-control" id="upgrade_client_id" name="client_id"
                            value="">
                            <div class="form-row">
                        
                                <div class="col-md-4 mb-3">
                                    <label for="upgrade_last_name">Last Name</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="upgrade_last_name" name="upgrade_last_name"
                                        value="">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="upgrade_first_name">First Name</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="upgrade_first_name" name="upgrade_first_name"
                                        value="">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="upgrade_middle_name">Middle Name</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="upgrade_middle_name" name="upgrade_middle_name"
                                        value="">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="upgrade_suffix">Suffix</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="upgrade_suffix" name="upgrade_suffix"
                                        value="">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body">
                        <h5 class="card-title">Payment Information</h5>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="upgrade_mode_of_payment">Mode of Payment</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="upgrade_mode_of_payment" name="upgrade_mode_of_payment"
                                        value="">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="upgrade_amount">Amount</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="upgrade_amount" name="upgrade_amount"
                                        value="">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="upgrade_balance">Balance</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="upgrade_balance" name="upgrade_balance"
                                        value="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">Payment History</h5>
                            <table id="tbl_upgrade_payment_history" class="mb-0 table">
                                <thead>
                                <tr>
                                    <th class="text-center">AMOUNT</th>
                                    <th class="text-center">CURRENT BALANCE</th>
                                    <th class="text-center">DATE</th>
                                    <th class="text-center">REMARKS</th>
                                    <th class="text-center">DEPOSITED</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Update Payment & Materials</h5>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <div class="position-relative form-group">
                                        <div>
                                            <div class="custom-checkbox custom-control">
                                                <input name="chkbox_upgrade" type="checkbox" id="upgrade_chkbox_upgrade" class="custom-control-input">
                                                <label class="custom-control-label" for="upgrade_chkbox_upgrade"><strong>UPGRADE TO PREMIUM PAYMENT</strong></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="upgrade_new_amount">New Payment</label>
                                    <input readonly style="font-weight: bold;" type="number" step="1" class="form-control" id="upgrade_new_amount" name="upgrade_new_amount"
                                        value="" required>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="upgrade_date">Date of Payment</label>
                                    <input style="font-weight: bold;" type="date" step="1" class="form-control" id="upgrade_date" name="upgrade_date"
                                        value="" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <div class="position-relative form-group">
                                        <label for="upgrade_books" class="">Select Book</label>
                                        <div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="upgrade_book_none" name="upgrade_books" value="book_none" class="custom-control-input"><label class="custom-control-label" for="upgrade_book_none">
                                                No book
                                            </label></div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="upgrade_book1" name="upgrade_books" value="volume1" class="custom-control-input"><label class="custom-control-label" for="upgrade_book1">
                                                Volume 1
                                            </label></div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="upgrade_book2" name="upgrade_books" value="volume2" class="custom-control-input"><label class="custom-control-label" for="upgrade_book2">
                                                Volume 2
                                            </label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <div class="position-relative form-group">
                                        <label for="upgrade_uniforms" class="">Select Uniform</label>
                                        <div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="upgrade_uniform_none" name="upgrade_uniforms" value="uniform_none" class="custom-control-input"><label class="custom-control-label" for="upgrade_uniform_none">
                                                No Uniform
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="upgrade_uniform_xs" name="upgrade_uniforms" value="uniform_xs" class="custom-control-input"><label class="custom-control-label" for="upgrade_uniform_xs">
                                                XS
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="upgrade_uniform_s" name="upgrade_uniforms" value="uniform_s" class="custom-control-input"><label class="custom-control-label" for="upgrade_uniform_s">
                                                S
                                            </label></div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-2 mb-3">
                                    <div class="position-relative form-group">
                                        <label for="upgrade_uniforms" class="">&nbsp</label>
                                        <div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="upgrade_uniform_m" name="upgrade_uniforms" value="uniform_m" class="custom-control-input"><label class="custom-control-label" for="upgrade_uniform_m">
                                                M
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="upgrade_uniform_l" name="upgrade_uniforms" value="uniform_l" class="custom-control-input"><label class="custom-control-label" for="upgrade_uniform_l">
                                                L
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="upgrade_uniform_xl" name="upgrade_uniforms" value="uniform_xl" class="custom-control-input"><label class="custom-control-label" for="upgrade_uniform_xl">
                                                XL
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="upgrade_uniform_xxl" name="upgrade_uniforms" value="uniform_xxl" class="custom-control-input"><label class="custom-control-label" for="upgrade_uniform_xxl">
                                                XXL
                                            </label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <div class="position-relative form-group">
                                        <label for="upgrade_others" class="">Others</label>
                                        <div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="upgrade_id_card" name="upgrade_others" value="upgrade_id_card" class="custom-control-input"><label class="custom-control-label" for="upgrade_id_card">
                                                ID Card
                                            </label></div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="upgrade_id_lace" name="upgrade_others" value="upgrade_id_lace" class="custom-control-input"><label class="custom-control-label" for="upgrade_id_lace">
                                                ID Lace
                                            </label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button disabled id="btn_confirm_upgrade" type="submit" class="btn btn-success">Confirm Upgrade</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
