<div id="editModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Client's Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('lms.new_payment')}}" method="POST">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                        <h5 class="card-title">Student Information</h5>

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" class="form-control" id="edit_client_id" name="client_id"
                            value="">
                            <div class="form-row">
                        
                                <div class="col-md-4 mb-3">
                                    <label for="edit_last_name">Last Name</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="edit_last_name" name="edit_last_name"
                                        value="">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="edit_first_name">First Name</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="edit_first_name" name="edit_first_name"
                                        value="">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="edit_middle_name">Middle Name</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="edit_middle_name" name="edit_middle_name"
                                        value="">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="edit_suffix">Suffix</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="edit_suffix" name="edit_suffix"
                                        value="">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body">
                        <h5 class="card-title">Payment Information</h5>

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="edit_mode_of_payment">Mode of Payment</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="edit_mode_of_payment" name="edit_mode_of_payment"
                                        value="">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="edit_amount">Amount</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="edit_amount" name="edit_amount"
                                        value="">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="edit_balance">Balance</label>
                                    <input style="font-weight: bold;" disabled type="text" class="form-control" id="edit_balance" name="edit_balance"
                                        value="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">Payment History</h5>
                            <table id="tbl_edit_payment_history" class="mb-0 table">
                                <thead>
                                <tr>
                                    <th class="text-center">AMOUNT</th>
                                    <th class="text-center">CURRENT BALANCE</th>
                                    <th class="text-center">DATE</th>
                                    <th class="text-center">REMARKS</th>
                                    <th class="text-center">DEPOSITED</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Update Payment & Materials</h5>
                            <div class="form-row">
                                <div class="col-md-1 mb-3">
                                </div>
                                <div class="col-md-5 mb-3">
                                    <div class="position-relative form-group">
                                        <div>
                                            <div class="custom-checkbox custom-control">
                                                <input name="chkbox_upgrade" type="checkbox" id="chkbox_upgrade" class="custom-control-input">
                                                <label class="custom-control-label" for="chkbox_upgrade"><strong>UPGRADE TO PREMIUM PAYMENT</strong></label></div>
                                        </div>
                                    </div>
                                </div>

                                <div id='div_upgrade_full_payment' class="col-md-5 mb-3">
                                    <div class="position-relative form-group">
                                        <div>
                                            <div class="custom-checkbox custom-control">
                                                <input name="chkbox_upgrade_full_payment" type="checkbox" id="chkbox_upgrade_full_payment" class="custom-control-input">
                                                <label class="custom-control-label" for="chkbox_upgrade_full_payment"><strong>UPGRADE TO FULL PAYMENT</strong></label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="new_amount">New Payment</label>
                                    <input style="font-weight: bold;" type="number" step="1" class="form-control" id="new_amount" name="new_amount"
                                        value="" required>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="date">Date of Payment</label>
                                    <input style="font-weight: bold;" type="date" step="1" class="form-control" id="" name="date"
                                        value="" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="payment_method" class="">Payment Method</label>
                                        <select name="payment_method" id="payment_method" class="form-control" required>
                                            <option value="">Choose...</option>
                                            <option value="ONLINE">ONLINE</option>
                                            <option value="OTC">OTC</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please provide a thru
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="thru" class="">Thru</label>
                                        <select name="thru" id="thru" class="form-control" required>
                                            <option value="">Choose...</option>
                                            <option value="OVER THE COUNTER">OVER THE COUNTER</option>
                                            <option value="GCASH">GCASH</option>
                                            <option value="PAYMAYA">PAYMAYA</option>
                                            <option value="PALAWAN EXPRESS">PALAWAN EXPRESS</option>
                                            <option value="LANDBANK">LANDBANK</option>
                                            <option value="BDO">BDO</option>
                                            <option value="BPI">BPI</option>
                                            <option value="METROBANK">METROBANK</option>
                                            <option value="RCBC">RCBC</option>
                                            <option value="CHINABANK">CHINABANK</option>
                                            <option value="EASTWEST BANK">EASTWEST BANK</option>
                                            <option value="UNIONBANK">UNIONBANK</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please provide a thru
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        <label for="reference_no" class="">Reference No.</label>
                                        <input name="reference_no" id="reference_no" type="text" class="form-control" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please provide a valid Reference no.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <div class="position-relative form-group">
                                        <label for="books" class="">Select Book</label>
                                        <div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="book_none" name="books" value="book_none" class="custom-control-input"><label class="custom-control-label" for="book_none">
                                                No book
                                            </label></div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="book1" name="books" value="volume1" class="custom-control-input"><label class="custom-control-label" for="book1">
                                                Volume 1
                                            </label></div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="book2" name="books" value="volume2" class="custom-control-input"><label class="custom-control-label" for="book2">
                                                Volume 2
                                            </label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <div class="position-relative form-group">
                                        <label for="uniforms" class="">Select Uniform</label>
                                        <div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="uniform_none" name="uniforms" value="uniform_none" class="custom-control-input"><label class="custom-control-label" for="uniform_none">
                                                No Uniform
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="uniform_xs" name="uniforms" value="uniform_xs" class="custom-control-input"><label class="custom-control-label" for="uniform_xs">
                                                XS
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="uniform_s" name="uniforms" value="uniform_s" class="custom-control-input"><label class="custom-control-label" for="uniform_s">
                                                S
                                            </label></div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-2 mb-3">
                                    <div class="position-relative form-group">
                                        <label for="uniforms" class="">&nbsp</label>
                                        <div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="uniform_m" name="uniforms" value="uniform_m" class="custom-control-input"><label class="custom-control-label" for="uniform_m">
                                                M
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="uniform_l" name="uniforms" value="uniform_l" class="custom-control-input"><label class="custom-control-label" for="uniform_l">
                                                L
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="uniform_xl" name="uniforms" value="uniform_xl" class="custom-control-input"><label class="custom-control-label" for="uniform_xl">
                                                XL
                                            </label></div>
                                            <div class="custom-radio custom-control"><input required type="radio" id="uniform_xxl" name="uniforms" value="uniform_xxl" class="custom-control-input"><label class="custom-control-label" for="uniform_xxl">
                                                XXL
                                            </label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="position-relative form-group">
                                        <label class="">Reviewer</label>
                                        <div>
                                            <div class="custom-checkbox custom-control"><input onclick="return false;" type="checkbox" id="reading" name="reviewers" value="reading" class="custom-control-input"><label class="custom-control-label" for="reading">
                                                Reading
                                            </label></div>
                                            <div class="custom-checkbox custom-control"><input onclick="return false;" type="checkbox" id="listening" name="reviewers" value="listening" class="custom-control-input"><label class="custom-control-label" for="listening">
                                                Listening
                                            </label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <div class="position-relative form-group">
                                        <label for="others" class="">Others</label>
                                        <div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="id_card" name="others" value="id_card" class="custom-control-input"><label class="custom-control-label" for="id_card">
                                                ID Card
                                            </label></div>
                                            <div class="custom-radio custom-control"><input type="checkbox" id="id_lace" name="others" value="id_lace" class="custom-control-input"><label class="custom-control-label" for="id_lace">
                                                ID Lace
                                            </label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Confirm Payment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
