<!--THIS FILE EXTENDS admin_base.html-->
<!--THIS IS THE DASHBOARD TEMPLATE-->
{% extends "admin/admin_base.html" %}
{% block content %}
<div class="app-main__inner">
    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph2 icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Dashboard
                    <div class="page-title-subheading">
                        Sales, Expenses, Number of Students, NET and Maintaining Sales Activity
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-midnight-bloom">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">{{ options['box1'].heading }}</div>
                        <div class="widget-subheading">{{ options['box1'].subheading }}</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ options['box1'].number }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-arielle-smile">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">{{ options['box2'].heading }}</div>
                        <div class="widget-subheading">{{ options['box2'].subheading }}</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ options['box2'].number }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-grow-early">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">{{ options['box3'].heading }}</div>
                        <div class="widget-subheading">{{ options['box3'].subheading }}</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>{{ options['box3'].number }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-premium-dark">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Extra Card</div>
                        <div class="widget-subheading">Replace card</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-warning"><span>#</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header"><i class="header-icon lnr-gift icon-gradient bg-grow-early"> </i>SALES & EXPENSES
                    <div class="btn-actions-pane-right">
                        <div class="nav">
                            {% for branch in options['branches'] %}
                                <button value="{{branch.id}}" class="{{branch.name}} btn-branch border-0 btn-transition btn btn-outline-primary">{{branch.name}}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <h5 class="card-title"></h5>
                    <canvas id="chart_sales" height="400" class="chartjs-render-monitor" style="display: block; width: 378px; height: 300px;" width="378"></canvas>                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <!-- <h5 class="card-title">Table bordered</h5> -->
                    <table id="tbl_dashboard" class="mb-0 table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px;"></th>
                            <th>JAN</th>
                            <th>FEB</th>
                            <th>MAR</th>
                            <th>APR</th>
                            <th>MAY</th>
                            <th>JUN</th>
                            <th>JULY</th>
                            <th>AUG</th>
                            <th>SEP</th>
                            <th>OCT</th>
                            <th>NOV</th>
                            <th>DEC</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- <tr>
                            <th scope="row">GROSS SALES</th>
                        </tr>
                        <tr>
                            <th scope="row">EXPENSES</th>
                        </tr>
                        <tr>
                            <th scope="row">NET</th>
                        </tr>
                        <tr>
                            <th scope="row">MAINTAINING SALE 85K</th>
                        </tr>
                        <tr>
                            <th scope="row">NO. OF STUDENTS</th>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}