{% extends "admin/admin_base.html" %}


{% block scripts %}
<script>
    function updateData(chart, labels, datasets) {
        removeData(chart);
        chart.config.data.labels = labels;
        chart.config.data.datasets = datasets;
        chart.update();
    }

    function removeData(chart) {
        chart.data.labels.pop();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        chart.update();
    }

    $(document).ready(function () {
        $("#li_dashboard").addClass('mm-active');

        // ***** SALES TODAY ***** 
        const chart_sales_today_config = {
            type: 'bar',
            data: {labels: [], datasets: []},
            options: {plugins: {title: {display: true, text: ''},}, responsive: true, scales: {x: {stacked: true}, y: {stacked: true},},}
        };
        const chart_sales_today_ctx = document.getElementById('chart_sales_today');
        const chart_sales_today = new Chart(chart_sales_today_ctx, chart_sales_today_config);

        // *****  SALES & EXPENSES (CHART) ***** 
        const chart_sales_and_expenses_config = {type: 'line', data: {labels: [], datasets: []},
            options: {responsive: true, plugins: {legend: {position: 'top',}, title: {display: true, text: 'Chart.js Line Chart'},},},
        }
        const chart_sales_and_expenses_ctx = document.getElementById('chart_sales_and_expenses');
        chart_sales_and_expenses_ctx.height = 150;
        const chart_sales_and_expenses = new Chart(chart_sales_and_expenses_ctx, chart_sales_and_expenses_config);

        // *****  GROSS SALES BREAKDOWN ***** 
        const chart_gross_sales_config = {
            type: 'bar',
            data: {labels: [], datasets: []},
            options: {plugins: {title: {display: true, text: ''},}, responsive: true, scales: {x: {stacked: true}, y: {stacked: true},},}
        };
        const chart_gross_sales_breakdown_ctx = document.getElementById('chart_gross_sales_breakdown');
        const chart_gross_sales_breakdown = new Chart(chart_gross_sales_breakdown_ctx, chart_gross_sales_config);
        
        // *****  EXPENSES BREAKDOWN ***** 
        const chart_expenses_breakdown_config = {
            type: 'bar',
            data: {labels: [], datasets: []},
            options: {plugins: {title: {display: true, text: ''},}, responsive: true, scales: {x: {stacked: true}, y: {stacked: true},},}
        };
        const chart_expenses_breakdown_ctx = document.getElementById('chart_expenses_breakdown');
        const chart_expenses_breakdown = new Chart(chart_expenses_breakdown_ctx, chart_expenses_breakdown_config);
        
        // *****  NET - LOSE ***** 
        const chart_net_lose_config = {
            type: 'bar',
            data: {labels: [], datasets: []},
            options: {plugins: {title: {display: true, text: ''},}, responsive: true, scales: {x: {stacked: true}, y: {stacked: true},},},
            plugins: [{
                beforeDraw: function(c) {
                    if (c.data.datasets.length <= 0){
                        return;
                    }
                    var data = c.data.datasets[0].data;
                    for (let i in data) {
                       let bar = c.data.datasets[0]._meta['4'].data[i]._model;
                       if (data[i] > 0) {
                          bar.backgroundColor = '#07C';
                       } else bar.backgroundColor = '#E82020';
                    }
                 }
            }]
        };
        const chart_net_lose_ctx = document.getElementById('chart_net_lose');
        const chart_net_lose = new Chart(chart_net_lose_ctx, chart_net_lose_config);
        
        // *****  NET - LOSE ***** 
        const chart_all_branches_config = {
            type: 'bar',
            data: {labels: [], datasets: []},
            options: {
                plugins: {
                    title: {display: true, text: ''},
                }, 
                responsive: true,
                scales: {x: {stacked: true}, y: {stacked: true},},
            },
            plugins: [{
                beforeDraw: function(c) {
                    if (c.data.datasets.length <= 0){
                        return;
                    }

                    var data = c.data.datasets[0].data;
                    for (let i in data) {
                       let bar = c.data.datasets[0]._meta['5'].data[i]._model;
                       if (data[i] > 0) {
                          bar.backgroundColor = '#07C';
                       } else bar.backgroundColor = '#E82020';
                    }
                 }
            }]
        };
        const chart_all_branches_ctx = document.getElementById('chart_all_branches');
        const chart_all_branches = new Chart(chart_all_branches_ctx, chart_all_branches_config);
        
        var dateFrom = $("#filter_date").data('daterangepicker').startDate.format('YYYY-MM-DD');
        var dateTo = $("#filter_date").data('daterangepicker').startDate.format('YYYY-MM-DD');

        init();

        function init(){
            updateCharts();
            updateChartSalesToday();
        }

        function updateChartSalesToday() {
            var branch = $("#filter_branch").val();

            $.getJSON(
                `/learning-management/dashboard/fetch-chart-sales-today?branch=${branch}`, function (response) {
                    $("#span_sales_today").html(response.sales_today);
                    updateData(chart_sales_today, response.data.labels, response.data.datasets);
                }).fail(function () {
                    Swal.fire({ title: "Error Occured!", text: "Please refresh the page then try again!", icon: "error" });
                });
        }

        function updateSalesBreakdown(dateFrom, dateTo){
            var branch = $("#filter_branch").val();

            $.getJSON(
                `/learning-management/dashboard/fetch-sales-breakdown?date_from=${dateFrom}&date_to=${dateTo}&branch=${branch}`, function (response) {
                    $("#total_installment").html(response.data.total_installment);
                    $("#total_full_payment").html(response.data.total_full_payment);
                    $("#total_premium_payment").html(response.data.total_premium_payment);
                    $("#total").html(response.data.total);
                }).fail(function () {
                    Swal.fire({ title: "Error Occured!", text: "Please refresh the page then try again!", icon: "error" });
                });
        }

        function updateGrossSalesBreakdown(dateFrom, dateTo) {
            var branch = $("#filter_branch").val();

            $.getJSON(
                `/learning-management/dashboard/fetch-gross-sales-breakdown?date_from=${dateFrom}&date_to=${dateTo}&branch=${branch}`, function (response) {
                    updateData(chart_gross_sales_breakdown, response.labels, [{
                        label: 'Sales Breakdown',
                        data: response.gross_sales_breakdown,
                        backgroundColor: 'rgba(0, 120, 246, 0.5)',
                        fill: false,
                    }]);
                }).fail(function () {
                    Swal.fire({ title: "Error Occured!", text: "Please refresh the page then try again!", icon: "error" });
                });
        }


        function updateExpensesBreakdown(dateFrom, dateTo) {
            var branch = $("#filter_branch").val();

            $.getJSON(
                `/learning-management/dashboard/fetch-expenses-breakdown?date_from=${dateFrom}&date_to=${dateTo}&branch=${branch}`, function (response) {
                    updateData(chart_expenses_breakdown, response.labels, [{
                        label: 'Expenses Breakdown',
                        data: response.expenses_breakdown,
                        backgroundColor: 'rgba(0, 120, 246, 0.5)',
                        fill: false,
                    }]);
                }).fail(function () {
                    Swal.fire({ title: "Error Occured!", text: "Please refresh the page then try again!", icon: "error" });
                });
        }


        function updateAllBranchesNetLose(dateFrom, dateTo) {
            var branch = $("#filter_branch").val();

            $.getJSON(
                `/learning-management/dashboard/fetch-all-branches-net-lose?date_from=${dateFrom}&date_to=${dateTo}&branch=${branch}`, function (response) {
                    updateData(chart_all_branches, response.labels, [{
                        label: 'All Branches NET/LOSE',
                        data: response.data,
                        backgroundColor: 'rgba(0, 120, 246, 0.5)',
                        fill: false,
                    }]);
                }).fail(function () {
                    Swal.fire({ title: "Error Occured!", text: "Please refresh the page then try again!", icon: "error" });
                });
        }


        function updateNetLose(dateFrom, dateTo) {
            var branch = $("#filter_branch").val();

            $.getJSON(
                `/learning-management/dashboard/fetch-net-lose?date_from=${dateFrom}&date_to=${dateTo}&branch=${branch}`, function (response) {
                    updateData(chart_net_lose, response.labels, [{
                        label: 'NET/LOSE',
                        data: response.data,
                        backgroundColor: 'rgba(0, 120, 246, 0.5)',
                        fill: false,
                    }]);
                }).fail(function () {
                    Swal.fire({ title: "Error Occured!", text: "Please refresh the page then try again!", icon: "error" });
                });
        }


        function updateSalesAndExpenses(dateFrom, dateTo){
            var branch = $("#filter_branch").val();

            $.ajax({
                url: `/learning-management/api/dashboard/get-chart-data/${branch}?date_from=${dateFrom}&date_to=${dateTo}`,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    var labels = response.labels;
    
                    $("#tbl_dashboard > tbody").empty();

                    updateData(chart_sales_and_expenses, response.labels, [
                        {
                            label: 'Gross Sales',
                            data: response.gross_sales,
                            borderColor: 'rgba(0, 120, 246, 1)',
                            backgroundColor: 'rgba(0, 120, 246, 0.5)',
                            fill: false,
                        },
                        {
                            label: 'Expenses',
                            data: response.expenses,
                            borderColor: 'rgba(247, 255, 0, 1)',
                            backgroundColor: 'rgba(247, 255, 0, 0.5)',
                            fill: false,
                        },
                        {
                            label: 'NET',
                            data: response.net,
                            borderColor: 'rgba(251, 145, 79, 1)',
                            backgroundColor: 'rgba(251, 145, 79, 0.5)',
                            fill: false,
                        },
                        {
                            label: 'Maintaining Sales',
                            data: response.maintaining_sales,
                            borderColor: 'rgba(255, 0, 0, 1)',
                            backgroundColor: 'rgba(255, 0, 0, 0.5)',
                            fill: false,
                        }
                    ]);
                }
            });
        }

        $("#filter_date").on('apply.daterangepicker', function(ev, picker){
            dateFrom = picker.startDate.format('YYYY-MM-DD');
            dateTo = picker.endDate.format('YYYY-MM-DD');
            updateCharts();
        });


        $("#filter_branch").change(function(){
            updateCharts();
            updateChartSalesToday();
        });

        function updateCharts(){
            updateSalesBreakdown(dateFrom, dateTo);
            updateSalesAndExpenses(dateFrom, dateTo);
            updateGrossSalesBreakdown(dateFrom, dateTo);
            updateExpensesBreakdown(dateFrom, dateTo);
            updateAllBranchesNetLose(dateFrom, dateTo);
            updateNetLose(dateFrom, dateTo);
        }
    });
</script>
{% endblock %}


{% block content %}
<div class="app-main__inner">
    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph2 icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Dashboard
                    <div class="page-title-subheading">
                        Sales, Expenses, Number of Students, NET and Maintaining Sales Activity
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-card mb-3 card">
        <div class="card-header">
            Your Overview
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-3">
                    <div class="position-relative form-group">
                        <label for="filter_date" class="">Date</label>

                        <div id="filter_date" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="filter_branch" class="">Branch</label>
                        <select name="filter_branch" id="filter_branch" class="form-control" required>
                            <option value="all">All</option>
                            {% for branch in options['branches'] %}
                            <option value="{{ branch.id }}">
                                {{ branch.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                Sales Today
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-12 col-md-12">
                                <div class="card-border border-light no-shadow card">
                                    <div class="widget-content">
                                        <div class="widget-content-outer">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Today</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers line-height-1 text-success">
                                                        ₱ <span id='span_sales_today'>0.00</span>
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                        <canvas id="chart_sales_today"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if current_user.role.name in ['Admin', 'Partner'] %}
                <div class="col-md-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                Students Payment Sales Breakdown
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-outer">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Total of Installment</div>
                                                    <div class="widget-subheading">Total</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-success">
                                                        ₱ <span id="total_installment">{{options['total_installment']}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-outer">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Total of Full Payment</div>
                                                    <div class="widget-subheading">Total</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-primary">
                                                        ₱ <span id="total_full_payment">{{options['total_full_payment']}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-outer">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Total Of Premium Payment</div>
                                                    <div class="widget-subheading">Total</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-danger">
                                                        ₱ <span id="total_premium_payment">{{options['total_premium_payment']}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-outer">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Total</div>
                                                    <div class="widget-subheading">Overall total</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-warning">
                                                        ₱ <span id="total">{{options['total']}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            {% if current_user.role.name in ['Admin', 'Partner'] %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                Gross Sales Breakdown 
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                        <canvas id="chart_gross_sales_breakdown"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                Expenses Breakdown 
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                        <canvas id="chart_expenses_breakdown"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if current_user.role.name in ['Admin', 'Partner'] %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                Net - Lose 
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                        <canvas id="chart_net_lose"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 card">
                        <div class="card-header-tab card-header-tab-animation card-header">
                            <div class="card-header-title">
                                All Branches
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3 widget-chart widget-chart2 text-left w-100">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                                        <canvas id="chart_all_branches"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if current_user.role.name in ['Admin', 'Partner'] %}
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3 card">
                        <div class="card-header">SALES & EXPENSES (CHART)
                        </div>
                        <div class="card-body">
                            <div class="chartjs-size-monitor"
                                style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand"
                                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink"
                                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div>
                            <canvas id="chart_sales_and_expenses" height="400" class="chartjs-render-monitor"
                                style="display: block; width: 378px; height: 300px;" width="378"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if current_user.role.name in ['Admin', 'Partner'] %}
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3 card">
                        <div class="card-header">SALES & EXPENSES (TABLE)
                        </div>
                        <div class="card-body">
                            <table id="tbl_dashboard" class="mb-0 table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px;"></th>
                                        <th>JAN</th>
                                        <th>FEB</th>
                                        <th>MAR</th>
                                        <th>APR</th>
                                        <th>MAY</th>
                                        <th>JUN</th>
                                        <th>JULY</th>
                                        <th>AUG</th>
                                        <th>SEP</th>
                                        <th>OCT</th>
                                        <th>NOV</th>
                                        <th>DEC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}