<div id="mdl_inbound" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Inbound Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for(TABLE_OPTIONS['inbound_url'])}}" method="POST" class="needs-validation" novalidate>
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                        <h5 class="card-title">Material Information</h5>

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" class="form-control" id="supply_id" name="supply_id"
                            value="">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="brand">Brand</label>
                                    <input required style="font-weight: bold;" type="text" class="form-control" id="brand" name="brand"
                                        value="">
                                </div>
                                
                                <div class="col-md-4 mb-3">
                                    <div class="position-relative form-group"><label for="amount"
                                        class="">Price</label>
                                        <input required id="price" placeholder="Price" step="1" type="number" name="price" class="form-control">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                </div>
                                </div>

                                
                                <div class="col-md-2 mb-3">
                                    <label for="quantity">Quantity</label>
                                    <input required style="font-weight: bold;" type="number" class="form-control" id="quantity" name="quantity"
                                        value="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
