{% extends 'admin/admin_table.html' %}


{% block head %}
<style>
    table.dataTable thead th,
    table.dataTable thead td {
        padding: 0px !important;
    }
</style>
{% endblock head %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#li_office_supplies").addClass('mm-active');

        var dtbl_supplies = $("#tbl_supplies").DataTable({
            "dom": 'rtip',
            "processing": true,
            "autoWidth": false,
            "serverSide": true,
            "ajax": {
                "url": "/learning-management/datatables/supplies/monthly-transactions",
                "data": function (d) {
                    d.year = $("#filter_year").val();
                    d.month = $("#filter_month").val();
                    d.supplies_type = "office_supplies";
                    d.branch = $("#btn_marketer_label").val();
                }
            },
            "pageLength": 50,
            "ordering": false,
            "order": [[0, 'asc']],
            "columnDefs": [
                {
                    'targets': 0,
                    'visible': false
                },
            ],
        });

        var dtbl_summaries = $("#tbl_summaries").DataTable({
            "dom": 'rtip',
            "processing": true,
            "autoWidth": false,
            "serverSide": true,
            "ajax": {
                "url": "/learning-management/datatables/supplies/summary",
                "data": function (d) {
                    d.year = $("#filter_year").val();
                    d.month = $("#filter_month").val();
                    d.supplies_type = "office_supplies";
                    d.branch = $("#btn_marketer_label").val();
                }
            },
            "pageLength": 50,
            "ordering": false,
            "order": [[0, 'asc']],
            "columnDefs": [
                {
                    'targets': 0,
                    'visible': false
                },
            ],
        });

        $('#tbl_summaries tbody').on('click', '.btn-inbound', function () {
            var data = dtbl_summaries.row($(this).parents('tr')).data();

            $("#supply_id").val(data[0]);
        });

        $("#filter_year").change(function () {
            dtbl_supplies.ajax.reload();
            dtbl_summaries.ajax.reload();
        });

        $("#filter_month").change(function () {
            dtbl_supplies.ajax.reload();
            dtbl_summaries.ajax.reload();
        });


        $("#div_marketer_buttons").on('click', '.btn-marketer', function () {
            var marketer_name = $(this).html();

            // if(!(localStorage.getItem('sessSubArea') == _sub_area_name)){
            $("#btn_marketer_label").html(marketer_name.toUpperCase());
            $("#btn_marketer_label").val($(this).val());
            $("#card_header_label").html(marketer_name);

            $('#btn_marketer_label').trigger('change');
        });

        $("#btn_marketer_label").change(function () {
            dtbl_supplies.ajax.reload();
            dtbl_summaries.ajax.reload();
        });

        $("#outbound_branch").change(function () {
            $("#outbound_supply_id").empty();
            $("#outbound_supply_id").append($('<option></option>').attr("value", "").text("Choose branch first..."));

            $.getJSON(`/learning-management/api/supplies?branch=${$(this).val()}`, function (response, status, xhr) {
                for (i = 0; i < response.data.length; i++) {
                    var supply = response.data[i];
                    $("#outbound_supply_id").append($('<option></option>').attr("value", supply.id).text(supply.description));
                }
            }).fail(function (err) {
                swal("Error Occured!", "Please refresh the page then try again!", "error");
            });
        });

        $("#btn_print").click(function(){
            var branch = $("#btn_marketer_label").val();
            if (branch == 'all'){
                swal("Print Failed!", "Please select branch!", "error");
                return;
            }
            var year = $("#filter_year").val();
            var month = $("#filter_month").val();
            var pdf_url = "{{url_for('lms.print_office_supplies_summary')}}"

            window.open(
                pdf_url + 
                `?branch=${branch}&year=${year}&month=${month}`
            );
        });
    }); // Document.ready
</script>
{% endblock %}


{% block content %}
<div class="app-main__inner">
    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="{{ RENDERED_MODEL.__amicon__ }} icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    Office Supplies
                    <div class="page-title-subheading">
                        Inventory
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                {% if current_user.role.name in ['Admin', 'Secretary', 'Partner'] %}
                <button type="button" data-toggle="modal" data-target="#mdl_outbound" data-placement="bottom"
                    class="btn-shadow mr-3 btn btn-warning">
                    <i class="fa fa-upload"></i>
                    Supplies Withdrawal
                </button>
                {% endif %}

                {% if current_user.role.name in ['Admin'] %}
                <button id="btn_print" type="button" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
                    <i class="fa fa-print"></i>
                    Print
                </button>
                <button type="button" data-toggle="modal" data-target="#create_modal" title="Create new"
                    data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
                    <i class="fa fa-plus"></i>
                    Create Item
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="main-card mb-6 card">
        <div class="card-header">
            <div id="card_header_label">
                {% if current_user.role.name == "Marketer" %}
                {{TABLE_OPTIONS['marketers'][0].fname.upper()}}
                {% else %}
                ALL BRANCHES
                {% endif %}
            </div>
            <div class="btn-actions-pane-right">
                <div class="nav">
                    <div class="dropleft btn-group">
                        {% if current_user.role.name == "Marketer" or current_user.role.name == "Partner" %}
                        <button value="{{TABLE_OPTIONS['marketers'][0].id}}" id="btn_marketer_label" type="button"
                            aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                            class="btn-wide mb-2 mr-2 dropdown-toggle btn btn-primary">
                            {{TABLE_OPTIONS['marketers'][0].fname.upper()}}
                        </button>
                        {% else %}
                        <button value="all" id="btn_marketer_label" type="button" aria-haspopup="true"
                            aria-expanded="false" data-toggle="dropdown"
                            class="btn-wide mb-2 mr-2 dropdown-toggle btn btn-primary">
                            ALL BRANCHES
                        </button>
                        {% endif %}

                        {% if current_user.role.name != "Marketer" %}
                        <div id="div_marketer_buttons" tabindex="-1" role="menu" aria-hidden="true"
                            class="dropdown-menu" x-placement="left-start"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-4px, 0px, 0px);">

                            <button value="all" type="button" tabindex="0" class="dropdown-item btn-marketer">All
                                Branches</button>

                            {% for branch in TABLE_OPTIONS['branches'] %}
                            <button value="{{branch.id}}" type="button" tabindex="0"
                                class="dropdown-item btn-marketer">{{branch.name}}</button>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <div class="mb-12 card">
            <div class="card-body">
                <ul class="tabs-animated-shadow nav-justified tabs-animated nav">
                    <li class="nav-item">
                        <a role="tab" class="nav-link show active" id="tab-c1-0" data-toggle="tab"
                            href="#tab-animated1-0" aria-selected="false">
                            <span class="nav-text">MONTHLY TRANSACTIONS</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link show" id="tab-c1-1" data-toggle="tab" href="#tab-animated1-1"
                            aria-selected="false">
                            <span class="nav-text">SUMMARY</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="tab-animated1-0" role="tabpanel">
                        <div class="form-row">
                            <div class="col-md-1 col-xs-1">
                                <div class="position-relative form-group">
                                    <label for="filter_year" class="">Year</label>
                                    <select id="filter_year" class="form-control" required>
                                        <option value="all">All</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1 col-xs-2">
                                <div class="position-relative form-group">
                                    <label for="filter_month" class="">Month</label>
                                    <select id="filter_month" class="form-control" required>
                                        <option value="all">All</option>
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">Mar</option>
                                        <option value="4">Apr</option>
                                        <option value="5">May</option>
                                        <option value="6">Jun</option>
                                        <option value="7">Jul</option>
                                        <option value="8">Aug</option>
                                        <option value="9">Sep</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="tbl_supplies"
                                class="align-middle mb-0 table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">DESCRIPTION</th>
                                        <th class="text-center">MAINTAINING</th>
                                        <th class="text-center">RESERVE</th>
                                        <th class="text-center">UOM</th>
                                        <th class="text-center">1</th>
                                        <th class="text-center">2</th>
                                        <th class="text-center">3</th>
                                        <th class="text-center">4</th>
                                        <th class="text-center">5</th>
                                        <th class="text-center">6</th>
                                        <th class="text-center">7</th>
                                        <th class="text-center">8</th>
                                        <th class="text-center">9</th>
                                        <th class="text-center">10</th>
                                        <th class="text-center">11</th>
                                        <th class="text-center">12</th>
                                        <th class="text-center">13</th>
                                        <th class="text-center">14</th>
                                        <th class="text-center">15</th>
                                        <th class="text-center">16</th>
                                        <th class="text-center">17</th>
                                        <th class="text-center">18</th>
                                        <th class="text-center">19</th>
                                        <th class="text-center">20</th>
                                        <th class="text-center">21</th>
                                        <th class="text-center">22</th>
                                        <th class="text-center">23</th>
                                        <th class="text-center">24</th>
                                        <th class="text-center">25</th>
                                        <th class="text-center">26</th>
                                        <th class="text-center">27</th>
                                        <th class="text-center">28</th>
                                        <th class="text-center">29</th>
                                        <th class="text-center">30</th>
                                        <th class="text-center">31</th>
                                        <th class="text-center">TOTAL USED</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane show" id="tab-animated1-1" role="tabpanel">
                        <div class="table-responsive">
                            <table id="tbl_summaries"
                                class="align-middle mb-0 table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">DESCRIPTION</th>
                                        <th class="text-center">REMAINING</th>
                                        <th class="text-center">REPLACEMENT</th>
                                        <th class="text-center">UNIT PRICE</th>
                                        <th class="text-center">TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}