{% extends "admin/admin_base.html" %}


{% block extra_head %}
<script type="text/javascript">
    TABLE_NAME = "{{TABLE_OPTIONS['table_name']}}";
    VIEW_MODAL = "{{TABLE_OPTIONS['view_modal']}}";
    JS_FIELDS = `{{MODAL_DATA['js_fields'] | tojson}}`;
    VIEW_MODAL_URL = "{{TABLE_OPTIONS['view_modal_url']}}";
</script>
{% endblock %}

{% block content %}
<div class="app-main__inner">


    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="{{ RENDERED_MODEL.__amicon__ }} icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    Orientation Attendance
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>

            {% block actions %}

            <div class="page-title-actions">
            
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn-shadow dropdown-toggle btn btn-info">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-list-alt fa-w-20"></i>
                                    </span>
                        Actions
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            {% if session['permissions'][RENDERED_MODEL.__amname__] is defined %}
                            {% if session['permissions'][RENDERED_MODEL.__amname__]['delete'] or current_user.is_superuser %}
                            <li id="nav_action_btns" class="nav-item">
                                {% block dropdown_buttons %}
                                <button disabled id="btndelete" type="button" tabindex="0" class="dropdown-item">Delete</button>
                                {% endblock %}
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                        No actions
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% else %}
                            <li class="nav-item">
                                <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                        No actions
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}

        </div>
    </div>

    {% if current_user.role.name == "Marketer" %}
    {% else %}
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Encode</h5>
            <form onsubmit="document.getElementById('contact_person').disabled = false;" id="orientation_form" action="{{url_for('lms.orient')}}" method="POST" class="needs-validation" novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input id="client_id" name="client_id" type="hidden" class="form-control">
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="lname" class="">Last Name</label>
                            <div class="input-group"><input id="lname" name="lname" type="text"
                                    class="form-control" required>
                                <div class="input-group-append">
                                    <button disabled
                                        type="button" 
                                        data-toggle="modal"
                                        data-target="#mdl_search_client_last_name"
                                        data-placement="bottom"
                                        class="btn btn-primary pe-7s-search">
                                    </button>
                                </div>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid last name
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group"><label for="fname"
                                class="">First Name</label><input name="fname" id="fname"
                                type="text" class="form-control" required></div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group"><label for="contact_no"
                                class="">Contact No.</label><input name="contact_no" id="contact_no"
                                type="text" class="form-control" required></div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="branch" class="">Branch</label>
                            <select name="branch" id="branch" class="form-control" required>
                                {% if current_user.role.name == "Secretary" %}
                                <!-- Pass -->
                                {% else %}
                                    <option value="">Choose...</option>
                                {% endif %}
                                
                                {% for branch in TABLE_OPTIONS['branches'] %}
                                <option value="{{ branch.id }}">
                                    {{branch.name}}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a branch
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <input id="referred_by" name="referred_by" type="hidden"
                                    class="form-control">
                        <div class="position-relative form-group">
                            <label for="referred_by_name" class="">Referred By Student (Optional)</label>
                            <div class="input-group"><input id="referred_by_name" name="referred_by_name" type="text"
                                    class="form-control" readonly>
                                <div class="input-group-append">
                                    <button
                                        type="button" 
                                        data-toggle="modal"
                                        data-target="#mdl_search_referral"
                                        data-placement="bottom"
                                        class="btn btn-primary pe-7s-search">
                                    </button>
                                </div>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="contact_person" class="">Contact Person</label>
                            <select name="contact_person" id="contact_person" class="form-control" required>
                                <option value="">No Branch Selected...</option>
                                <!-- {% for contact_person in TABLE_OPTIONS['contact_persons'] %}
                                <option value="{{ contact_person.id }}">
                                    {{contact_person.fname}}
                                </option>
                                {% endfor %} -->
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a contact person
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="orientator" class="">Orientator</label>
                            <select name="orientator" id="orientator" class="form-control" required>
                                <option value="">Choose...</option>
                                {% for orientator in TABLE_OPTIONS['orientators'] %}
                                <option value="{{ orientator.id }}">
                                    {{orientator.fname}}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a orientator
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (function () {
                        'use strict';
                        window.addEventListener('load', function () {
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.getElementsByClassName('needs-validation');
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                            });
                        }, false);
                    })();
                </script>
            </form>
        </div>

        <div class="d-block text-right card-footer">
            <button id="btn_clear_entries" class="btn-wide btn btn-danger" type="button" value="Clear Entry">Clear Entries</button>
            <input form="orientation_form" class="btn-wide btn btn-success" type="submit" class="btn btn-primary" value="Save">
        </div>
    </div>
    {% endif %}

    <div class="main-card mb-3 card"><h5 class="card-header">Members</h5>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="branch_filter" class="">Branch</label>
                        <select name="branch_filter" id="branch_filter" class="form-control" required>
                            <option value="all">All</option>
                            {% for branch in TABLE_OPTIONS['branches'] %}
                            <option value="{{ branch.id }}">
                                {{ branch.name }}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a schedule
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="contact_person_filter" class="">Contact Person</label>
                        <select name="contact_person_filter" id="contact_person_filter" class="form-control" required>
                            <option value="all">All</option>
                            {% for contact_person in TABLE_OPTIONS['contact_persons'] %}
                            <option value="{{ contact_person.id }}">
                                {{contact_person.fname}}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a schedule
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="tbl_members" class="align-middle mb-0 table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            {% for column in TABLE_OPTIONS['table_columns'] %}
                            <th class="text-center">{{ column.upper() }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Load with ajax request -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block outer_footer %}
{% endblock %}

{% block modals %}

{% include "lms/search_client_last_name_modal.html" %}

{% if TABLE_OPTIONS['create_modal'] and TABLE_OPTIONS['create_url'] %}
{% include TABLE_OPTIONS['create_modal_template'] %}
{% endif %}

{% if TABLE_OPTIONS['view_modal'] %}
{% include TABLE_OPTIONS['view_modal_template'] %}
{% endif %}

{% endblock %}