<div id="mdl_outbound" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supplies Withdrawal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{url_for(TABLE_OPTIONS['outbound_url'])}}" method="POST" class="needs-validation" novalidate>
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="outbound_branch">Branch</label>
                                    <select name="outbound_branch" id="outbound_branch" class="form-control" required>
                                        <option value="">Choose...</option>
                                        {% for branch in TABLE_OPTIONS['branches'] %}
                                        <option value="{{ branch.id }}">
                                            {{ branch.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="outbound_supply_id" class="">Description</label>
                                    <select name="outbound_supply_id" id="outbound_supply_id" class="form-control" required>
                                        <option value="">Choose branch first...</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="quantity">Quantity</label>
                                    <input required style="font-weight: bold;" type="number" class="form-control" id="quantity" name="quantity"
                                        value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
