{% extends "admin/admin_base.html" %}


{% block scripts %}
<script>
    $(document).ready(function(){
        $("#li_registration").addClass('mm-active');
        
        $("#lbl_search_client").html("Search Oriented Students");
    
        $("#amount").change(function(){
            var payment_mode = $('input[name="payment_modes"]:checked').val();
            var balance;
    
            if (payment_mode == "full_payment"){
                balance = 7000 - $(this).val();
              
            } else if (payment_mode == "installment") {
                balance = 7800 - $(this).val();
            } else if (payment_mode == "full_payment_promo"){
                balance = 5500 - $(this).val();
            } else if (payment_mode == "installment_promo"){
                balance = 6300 - $(this).val();
            }
    
            $("#balance").val(balance);
        });
    
        $('#amount').on('input', function () {
            var payment_mode = $('input[name="payment_modes"]:checked').val();
            
            var value = $(this).val();
            
            if (payment_mode == "full_payment"){
                if ((value !== '') && (value.indexOf('.') === -1)) {
                
                    $(this).val(Math.max(Math.min(value, 7000), -7000));
                }
            } else if (payment_mode == "full_payment_promo"){
                if ((value !== '') && (value.indexOf('.') === -1)) {
                
                    $(this).val(Math.max(Math.min(value, 5500), -5500));
                }
                
            } else if (payment_mode == "installment") {
                if ((value !== '') && (value.indexOf('.') === -1)) {
                
                    $(this).val(Math.max(Math.min(value, 7800), -7800));
                }
            } else if (payment_mode == "installment_promo"){
                if ((value !== '') && (value.indexOf('.') === -1)) {
                    $(this).val(Math.max(Math.min(value, 6300), -6300));
                }
            }
        
        });
    
        $('input[type=radio][name=payment_modes]').change(function() {
            var balance;
    
            if (this.value == 'full_payment') {
                $("#amount").val(7000);
                $("#amount").prop('readonly', true);
    
                balance = 7000 - $("#amount").val();
    
                $('#book_none').prop('checked', false);
                $('#book1').prop('checked', true);
                $('#book2').prop('checked', false);
    
                $("#uniform_m").prop("checked", true);
    
                $('#id_card').prop('checked', false);
                $('#id_lace').prop('checked', false);
            }
            else if (this.value == 'installment') {
                $("#amount").val(1000);
                $("#amount").prop('readonly', false);
    
                balance = 7800 - $("#amount").val();
    
                $('#book_none').prop('checked', true);
                $('#book1').prop('checked', false);
                $('#book2').prop('checked', false);
    
                $("#uniform_none").prop("checked", true);
    
                $('#id_card').prop('checked', false);
                $('#id_lace').prop('checked', false);
            } else if(this.value == 'premium'){
                $("#amount").val(8500);
                $("#amount").prop('readonly', true);
    
                balance = 8500 - $("#amount").val();
    
                $('#book_none').prop('checked', false);
                $('#book1').prop('checked', true);
                $('#book2').prop('checked', true);
    
                $("#uniform_m").prop("checked", true);
    
                $('#id_card').prop('checked', true);
                $('#id_lace').prop('checked', true);
            } else if (this.value == 'full_payment_promo') {
                $("#amount").val(5500);
                $("#amount").prop('readonly', true);
    
                balance = 5500 - $("#amount").val();
    
                $('#book_none').prop('checked', false);
                $('#book1').prop('checked', true);
                $('#book2').prop('checked', false);
    
                $("#uniform_m").prop("checked", true);
    
                $('#id_card').prop('checked', false);
                $('#id_lace').prop('checked', false);
            } else if (this.value == 'installment_promo') {
                $("#amount").val(4000);
                $("#amount").prop('readonly', false);
    
                balance = 6300 - $("#amount").val();
    
                $('#book_none').prop('checked', true);
                $('#book1').prop('checked', false);
                $('#book2').prop('checked', false);
    
                $("#uniform_none").prop("checked", true);
    
                $('#id_card').prop('checked', false);
                $('#id_lace').prop('checked', false);
            } else if(this.value == "premium_promo"){
                $("#amount").val(7000);
                $("#amount").prop('readonly', true);
    
                balance = 7000 - $("#amount").val();
    
                $('#book_none').prop('checked', false);
                $('#book1').prop('checked', true);
                $('#book2').prop('checked', true);
    
                $("#uniform_m").prop("checked", true);
    
                $('#id_card').prop('checked', true);
                $('#id_lace').prop('checked', true);
            }
    
            $("#balance").val(balance);
        });
    
        var dtbl_search = $("#tbl_mdl_clients").DataTable({
            pageLength: 10,
            columnDefs: [
                {
                    "targets": 0,
                    "visible": false,
                },
            ],
            ajax: {
                url: "/learning-management/api/dtbl/mdl-pre-registered-clients-registration",
            }
        });
    
        $('#tbl_mdl_clients tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                dtbl_search.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );
    
        $('#btn_confirm').click( function () {
            var selected = dtbl_search.row('.selected').data();
            
            $.ajax({
                url: '/learning-management/api/clients/' + selected[0],
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    if(response.data.status == "pre_registered" && response.data.is_oriented == false){
                        console.log(response.data);
    
                        $("#client_id").val(response.data.id);
                        $("#lname").val(response.data.lname);
                        $("#fname").val(response.data.fname);
                        $("#mname").val(response.data.mname);
                        $("#suffix").val(response.data.suffix);
                        $("#contact_number").val(response.data.contact_number);
                        $("#email").val(response.data.email);
                        $("#address").val(response.data.address);
    
                        var formattedDate = new Date(response.data.birth_date);
                        var d = ('0' + formattedDate.getDate()).slice(-2);
                        var m =  ('0' + (formattedDate.getMonth()+1)).slice(-2);
                        var y = formattedDate.getFullYear();
    
                        $("#birth_date").val(y + "-" + m + "-" + d);
                
                        $("#lname").prop('readonly', true);
                        $("#fname").prop('readonly', true);
                        $("#mname").prop('readonly', true);
                        $("#suffix").prop('readonly', true);
                        $("#contact_number").prop('readonly', true);
                        $("#birth_date").prop('readonly', true);
                        $("#address").prop('readonly', true);
                        $("#email").prop('readonly', true);
    
                    } else if ((response.data.status == "pre_registered") && (response.data.is_oriented == true)){
                        $("#client_id").val(response.data.id);
                        $("#lname").val(response.data.lname);
                        $("#fname").val(response.data.fname);
                        $("#mname").val(response.data.mname);
                        $("#suffix").val(response.data.suffix);
                        $("#contact_number").val(response.data.contact_number);
                        $("#email").val(response.data.email);
                        $("#address").val(response.data.address);
                        $("#contact_person").val(response.data.contact_person);
    
                        var formattedDate = new Date(response.data.birth_date);
                        var d = ('0' + formattedDate.getDate()).slice(-2);
                        var m =  ('0' + (formattedDate.getMonth()+1)).slice(-2);
                        var y = formattedDate.getFullYear();
    
                        $("#birth_date").val(y + "-" + m + "-" + d);
                
                        $("#lname").prop('readonly', true);
                        $("#fname").prop('readonly', true);
                        $("#mname").prop('readonly', true);
                        $("#suffix").prop('readonly', true);
                        $("#contact_number").prop('readonly', true);
                        $("#birth_date").prop('readonly', true);
                        $("#address").prop('readonly', true);
                        $("#email").prop('readonly', true);
                        // $("#contact_person").prop('disabled', true);
    
                    } else if((response.data.status == "oriented") && (response.data.is_oriented == true)){
                        $("#client_id").val(response.data.id);
                        $("#lname").val(response.data.lname);
                        $("#fname").val(response.data.fname);
                        $("#contact_number").val(response.data.contact_number);
                        $("#contact_person").val(response.data.contact_person);
                        $("#branch").val(response.data.branch);
    
                        $("#lname").prop('readonly', true);
                        $("#fname").prop('readonly', true);
                        $("#contact_number").prop('readonly', true);
                        $("#contact_person").prop('disabled', true);
                        $("#branch").prop('disabled', true);
                    }
                    
                    $('#batch_number').find('option').remove();
    
                    if(response.data.batch_numbers.length > 0){
                        var newOption = $('<option value="">Choose...</option>');
                        $('#batch_number').append(newOption);
                        
                        for(i=0; i < response.data.batch_numbers.length; i++){
                            var newOption = $(`<option value="${response.data.batch_numbers[i].id}">${response.data.batch_numbers[i].number}</option>`);
                            $('#batch_number').append(newOption);
                        }
                    } else {
                        var newOption = $('<option value="">No Batch Numbers yet</option>');
                        $('#batch_number').append(newOption);
                    }
                }
            });
        });
    
        $('#btn_clear_entries').click( function () {
            $("#client_id").val('');
            $("#lname").val('');
            $("#fname").val('');
            $("#mname").val('');
            $("#suffix").val('');
            $("#contact_number").val('');
            $("#birth_date").val('');
            $("#email").val('');
            $("#address").val('');
            $("#contact_person").val('');
    
            $("#lname").prop('readonly', false);
            $("#fname").prop('readonly', false);
            $("#mname").prop('readonly', false);
            $("#suffix").prop('readonly', false);
            $("#contact_number").prop('readonly', false);
            $("#birth_date").prop('readonly', false);
            $("#email").prop('readonly', false);
            $("#address").prop('readonly', false);
            $("#contact_person").prop('disabled', false);
        });
    });
</script>
{% endblock %}


{% block content %}
<div class="app-main__inner">
    <form onsubmit="document.getElementById('contact_person').disabled = false; document.getElementById('branch').disabled = false;" action="{{url_for('lms.register')}}" id="register_form" class="needs-validation" method="POST" novalidate>
        {{ form.csrf_token }}
        <input id="client_id" name="client_id" type="hidden" class="form-control">
        <div class="app-page-title" style="background-color: skyblue">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="text-success pe-7s-add-user">
                        </i>
                    </div>
                    <div id="registration_generated_number">{{ data['registration_generated_number'] }}
                        <div class="page-title-subheading">Registration Number
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Member Information</h5>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="lname" class="">Last Name</label>
                            <div class="input-group"><input id="lname" name="lname" type="text"
                                    class="form-control" required readonly>
                                <div class="input-group-append">
                                    <button
                                        type="button" 
                                        data-toggle="modal"
                                        data-target="#mdl_search_client_last_name"
                                        data-placement="bottom"
                                        class="btn btn-primary pe-7s-search">
                                    </button>
                                </div>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid last name
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="fname" class="">First Name</label>
                            <input readonly required name="fname" id="fname" type="text" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid first name
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="mname" class="">Middle Name</label>
                            <input name="mname" id="mname" type="text" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid middle name
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="suffix" class="">Suffix</label>
                            <input name="suffix" id="suffix" type="text" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid suffix
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="birth_date" class="">Date of Birth</label>
                            <input name="birth_date" id="birth_date" type="date" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid date of birth
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="passport" class="">Passport</label>
                            <input name="passport" id="passport" type="text" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid passport
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="contact_number" class="">Contact No.</label>
                            <input name="contact_number" id="contact_number" type="text" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid contact no.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="email" class="">Email Address</label>
                            <input name="email" id="email" type="email" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid email
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="e_registration" class="">E-Registration</label>
                            <input name="e_registration" id="e_registration" type="text" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid date of birth
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="position-relative form-group">
                            <label for="address" class="">Address</label>
                            <input name="address" id="address" type="text" class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid date of birth
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">General Information</h5>
                <div class="form-row">
                    <div class="col-md-2">
                        <div class="position-relative form-group">
                            <label for="batch_number" class="">Batch No.</label>
                            <select name="batch_number" id="batch_number" class="form-control" required>
                                <option value="">No Branch Selected...</option>
                                <!-- {% for batch_number in form.batch_number.data %}
                                <option value="{{ batch_number.id }}">
                                    {{ batch_number.number }}
                                </option>
                                {% endfor %} -->
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a batch no.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="position-relative form-group">
                            <label for="schedule" class="">Schedule</label>
                            <select name="schedule" id="schedule" class="form-control" required>
                                <option value="">Choose...</option>
                                {% for key,value,checked in form.schedule.iter_choices() %}
                                <option value="{{ key }}">
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a schedule
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="branch" class="">Branch</label>
                            <select disabled name="branch" id="branch" class="form-control" required>
                                <option value="">Choose...</option>
                                {% for branch in data['branches'] %}
                                <option value="{{ branch.id }}">
                                    {{ branch.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a branch
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="contact_person" class="">Contact Person</label>
                            <select disabled name="contact_person" id="contact_person" class="form-control" required>
                                <option value="">Choose...</option>
                                {% for contact_person in data['contact_persons'] %}
                                <option value="{{ contact_person.id }}">
                                    {{contact_person.fname}}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a contact person
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Payment Information</h5>
              
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="payment_modes" class="">Mode of Payment</label>
                            <div>
                                <div class="custom-radio custom-control"><input required type="radio" id="exampleCustomRadio" name="payment_modes" value="full_payment" class="custom-control-input"><label class="custom-control-label" for="exampleCustomRadio">
                                    Full Payment (7000)
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="exampleCustomRadio2" name="payment_modes" value="installment" class="custom-control-input"><label class="custom-control-label" for="exampleCustomRadio2">
                                    Installment (7800)
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="exampleCustomRadio3" name="payment_modes" value="premium" class="custom-control-input"><label class="custom-control-label" for="exampleCustomRadio3">
                                    Premium Payment (8500)
                                </label></div>
                            </div>
                        </div>
                    </div>
     
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="payment_modes" class="">Promo</label>
                            <div>
                                <div class="custom-radio custom-control"><input required type="radio" id="full_payment_promo" name="payment_modes" value="full_payment_promo" class="custom-control-input"><label class="custom-control-label" for="full_payment_promo">
                                    Full Payment - Promo (5500)
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="installment_promo" name="payment_modes" value="installment_promo" class="custom-control-input"><label class="custom-control-label" for="installment_promo">
                                    Installment - Promo (6300)
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="premium_promo" name="payment_modes" value="premium_promo" class="custom-control-input"><label class="custom-control-label" for="premium_promo">
                                    Premium Payment - Promo (7000)
                                </label></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="amount" class="">Enter Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">₱</span></div>
                                <input required id="amount" placeholder="Amount" step="1" type="number" name="amount" class="form-control">
                                <div class="input-group-append"><span class="input-group-text">.00</span></div>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid amount
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label for="balance" class="">Balance</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">₱</span></div>
                                <input readonly id="balance" placeholder="Balance" step="1" type="number" class="form-control">
                                <div class="input-group-append"><span class="input-group-text">.00</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Other Information</h5>
                <div class="form-row">
                    <div class="col-md-2">
                        <div class="position-relative form-group">
                            <label for="books" class="">Select Book</label>
                            <div>
                                <div class="custom-radio custom-control"><input onclick="return false;" type="checkbox" id="book_none" name="books" value="book_none" class="custom-control-input"><label class="custom-control-label" for="book_none">
                                    No book
                                </label></div>
                                <div class="custom-radio custom-control"><input onclick="return false;" type="checkbox" id="book1" name="books" value="volume1" class="custom-control-input"><label class="custom-control-label" for="book1">
                                    Volume 1
                                </label></div>
                                <div class="custom-radio custom-control"><input onclick="return false;" type="checkbox" id="book2" name="books" value="volume2" class="custom-control-input"><label class="custom-control-label" for="book2">
                                    Volume 2
                                </label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="position-relative form-group">
                            <label for="uniforms" class="">Select Uniform</label>
                            <div>
                                <div class="custom-radio custom-control"><input required type="radio" id="uniform_none" name="uniforms" value="uniform_none" class="custom-control-input"><label class="custom-control-label" for="uniform_none">
                                    No Uniform
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="uniform_xs" name="uniforms" value="uniform_xs" class="custom-control-input"><label class="custom-control-label" for="uniform_xs">
                                    XS
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="uniform_s" name="uniforms" value="uniform_s" class="custom-control-input"><label class="custom-control-label" for="uniform_s">
                                    S
                                </label></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2">
                        <div class="position-relative form-group">
                            <label for="uniforms" class="">&nbsp</label>
                            <div>
                                <div class="custom-radio custom-control"><input required type="radio" id="uniform_m" name="uniforms" value="uniform_m" class="custom-control-input"><label class="custom-control-label" for="uniform_m">
                                    M
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="uniform_l" name="uniforms" value="uniform_l" class="custom-control-input"><label class="custom-control-label" for="uniform_l">
                                    L
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="uniform_xl" name="uniforms" value="uniform_xl" class="custom-control-input"><label class="custom-control-label" for="uniform_xl">
                                    XL
                                </label></div>
                                <div class="custom-radio custom-control"><input required type="radio" id="uniform_xxl" name="uniforms" value="uniform_xxl" class="custom-control-input"><label class="custom-control-label" for="uniform_xxl">
                                    XXL
                                </label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="position-relative form-group">
                            <label class="">Others</label>
                            <div>
                                <div class="custom-radio custom-control"><input onclick="return false;" type="checkbox" id="id_card" name="id_materials" value="id_card" class="custom-control-input"><label class="custom-control-label" for="id_card">
                                    ID Card
                                </label></div>
                                <div class="custom-radio custom-control"><input onclick="return false;" type="checkbox" id="id_lace" name="id_materials" value="id_lace" class="custom-control-input"><label class="custom-control-label" for="id_lace">
                                    ID Lace
                                </label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </form>
</div>
{% endblock %}


{% block inner_footer %}
<div class="app-footer-right">
    <!-- <button type="button" class="btn btn-secondary" onclick="history.back(-1)"
        style="margin-right: 10px;">Cancel</button> -->
    <!-- <button id="btn_clear_entries" class="btn-wide btn btn-danger" type="button" value="Clear Entry" style="margin-right: 10px;">Clear Entries</button> -->
    <input id="btn_submit" form="register_form" type="submit" class="btn btn-primary" name='btn_submit' value="Confirm">
    <!-- <input form="register_form" type="submit" style="margin-right: 10px;" name='btn_submit' 
    class="btn btn-primary" value="Save and Print" style="margin-right: 10px;"> -->
</div>
{% endblock %}


{% block head %}
<style>
    .myHiddenColumn {
        display: none;
    }
</style>
{% endblock %}