{% extends "admin/admin_base.html" %}


{% block modals %}
{% endblock %}


{% block head %}
{% endblock %}

{% block scripts %}
<script>
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
            }
        }
    });

    $(document).ready(function(){
        $("#li_settings").addClass("mm-active");
    });
</script>
{% endblock %}


{% block sidebar %}
{% include 'lms/settings_sidebar.html' %}
{% endblock %}


{% block content %}
<div class="app-main__inner">
    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="{{ RENDERED_MODEL.__amicon__ }} icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    General Settings
                    <div class="page-title-subheading">
                        Manage system settings
                    </div>
                </div>
            </div>
            {% block actions %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <h5 class="card-header">General Settings</h5>
                <div class="card-body">
                    <h1>Coming soon...</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
