<!DOCTYPE html>
<html>

<head>
	<style>
		@page {
			size: letter landscape;
			margin: 1cm;
		}

		.tbl_information tr.heading td {
			border-bottom: 1px solid #ddd;
			font-weight: bold;
			font-size: 14px;
		}

		.tbl_payment tr.heading td {
			border-bottom: 1px solid #ddd;
			font-weight: bold;
			font-size: 15px;
		}
		
		.tbl_payment .item td {
			font-size: 16px;
		}

		.tbl_information .item td {
			font-size: 15px;
		}

		.tbl_inclusion tr.heading td {
			border-bottom: 1px solid #ddd;
			font-weight: bold;
			font-size: 15px;
		}

		.inclusion-item {
			font-size: 15px;
		}

		.center-text {
			text-align: center;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.signature p {
			text-decoration: overline;
		}
	</style>
</head>

<body>
	<div style="width: 105%;">
		<div style="width: 50%; height: 100px; float: left; padding: 5px 5px;">
			<div style="text-align: center; font-size: 15px; margin: 0;">
				<strong>PRIME KOREAN LANGUAGE AND REVIEW CENTER INC.</strong>
			</div>
			<div style="text-align: center;">
				<p style="font-size: 13px; margin: 0; padding: 0;">{{address}}</p>
			</div>
			<div style="text-align: center;">
				<p style="font-size: 10px; margin: 0; padding: 0;">Landline: 0324252165 | Email Address: primesmd2022@gmail.com</p>
			</div>

			<div class="center-text">
				<p>STUDENT RECORD</p>
			</div>

			<table class="tbl_information" cellpadding="0" cellspacing="0">
				<tr class="heading">
					<td>
						Personal Information
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="item">
					<td>Last Name:</td>
					<td colspan="2">{{student.lname}}</td>
				</tr>
				<tr class="item">
					<td>First Name:</td>

					<td colspan="2">{{student.fname}}</td>
				</tr>
				<tr class="item">
					<td>Middle Name:</td>

					<td colspan="2">{{student.mname}}</td>
				</tr>
				<tr class="item">
					<td>Suffix:</td>
					<td>{{student.suffix}}</td>
				</tr>
				<tr class="item">
					<td>Date of Birth:</td>
					<td colspan="2">{{student.birth_date}}</td>
				</tr>
				<tr class="item">
					<td>Address:</td>
					<td style="font-size:10px;" colspan="3">{{student.address}}</td>
				</tr>
				<tr class="item">
					<td>Mobile No.:</td>
					<td colspan="2">{{student.contact_number}}</td>
				</tr>
				<tr class="item">
					<td>Email Address:</td>
					<td colspan="3">{{student.email}}</td>
				</tr>
				<tr class="item">
					<td>Passport No.:</td>
					<td colspan="2">{{student.passport}}</td>
				</tr>
				<tr class="item">
					<td>E-Registration No.:</td>
					<td colspan="2">{{student.e_registration}}</td>
				</tr>
				<tr class="item">
					<td>Password:</td>
					<td colspan="2">{{student.e_reg_password}}</td>
				</tr>
				<tr class="item signature">
					<td></td>
					<td></td>
					<td></td>
					<td colspan="1"><p>Student Signature</p></td>
				</tr>
				<tr class="heading">
					<td>Payment Information</td>
					<td></td>
					<td></td>
					<td>Materials</td>
					<td></td>
				</tr>
				<tr class="item">
					<td>Mode of Payment:</td>
					<td colspan="2">{{student.amount}}</td>
						<td>Book V1:</td>
						<td>
							{% if student.books['book_none'] %}
							NO
							{% elif student.books['volume1']%}
							YES
							{% endif %}
						</td>
				</tr>
				<tr class="item">
					<td>Remarks:</td>
					<td colspan="2">
						{% if student.balance > 0 %}
						Not Paid
						{% else %}
						Paid
						{% endif %}

					</td>
					<td>Book V2:</td>
					<td>
						{% if student.books['book_none'] %}
						NO
						{% elif student.books['volume2']%}
						YES
						{% endif %}
					</td>
				</tr>
				<tr class="item">
					<td>Amount:</td>
					<td colspan="2">{{student.amount}}</td>
					<td>Uniform:</td>
					<td>
						{% if student.uniforms['uniform_none'] %}
						NO
						{% elif student.uniforms['uniform_xs'] %}
						YES
						{% elif student.uniforms['uniform_s'] %}
						YES
						{% elif student.uniforms['uniform_m'] %}
						YES
						{% elif student.uniforms['uniform_l'] %}
						YES
						{% elif student.uniforms['uniform_xl'] %}
						YES
						{% elif student.uniforms['uniform_xxl'] %}
						YES
						{% endif %}
					</td>

				</tr>
				<tr class="item">
					<td>Balance:</td>
					<td colspan="2">{{student.balance}}</td>
					<td>ID Card/Lace:</td>
					<td>
						{% if student.id_materials['id_card'] %}
						YES
						{% elif student.id_materials['id_lace'] %}
						YES
						{% else%}
						NO
						{% endif %}
					</td>
				</tr>
			</table>

			<div>
				
			</div>
			<table style="margin-top: 15px;" class="tbl_inclusion" cellpadding="20" cellspacing="20">
				<tr class="heading">
					<td>Inclusion</td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
				</tr>
				<tr class="inclusion-item">
					<td>E-Registration Assistance</td>
					<td colspan="20"></td>

					<td>Passport Appointment</td>
				</tr>
				<tr class="inclusion-item">
					<td>EPS-Topik Registration</td>
					<td colspan="20"></td>

					
					<td>Financial Assistance</td>
				</tr>
				<tr class="inclusion-item">
					<td>Korean Language Training</td>
					<td colspan="20"></td>

					<td>Unlimited Sit-in</td>
				</tr>
				<tr class="inclusion-item">
					<td>Skill Test Training</td>
					<td colspan="20"></td>

				</tr>
			</table>

			<table class="tbl_information" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
				<tr class="item">
					<td>EPS-TOPIK Test Fee:</td>
					<td style="text-decoration: underline;">Php</td>
				</tr>
				<tr class="item signature">
					<td></td>
					<td colspan="40"></td>
					<td><p>Receiver Signature</p></td>
				</tr>
			</table>
		</div>

		 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!S -->
		<div style="margin-left: 50%; height: 100px; padding: 5px 5px;">
			<div style="text-align: center; font-size: 15px; margin: 0;">
				<strong>PRIME KOREAN LANGUAGE AND REVIEW CENTER INC.</strong>
			</div>
			<div style="text-align: center;">
				<p style="font-size: 13px; margin: 0; padding: 0;">{{address}}</p>
			</div>
			<div style="text-align: center;">
				<p style="font-size: 10px; margin: 0; padding: 0;">Landline: 0324252165 | Email Address: primesmd2022@gmail.com</p>
			</div>

			<div class="center-text">
				<p>STUDENT RECORD</p>
			</div>

			<table class="tbl_information" cellpadding="0" cellspacing="0">
				<tr class="heading">
					<td>
						Personal Information
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="item">
					<td>Last Name:</td>
					<td colspan="2">{{student.lname}}</td>
				</tr>
				<tr class="item">
					<td>First Name:</td>

					<td colspan="2">{{student.fname}}</td>
				</tr>
				<tr class="item">
					<td>Middle Name:</td>

					<td colspan="2">{{student.mname}}</td>
				</tr>
				<tr class="item">
					<td>Suffix:</td>
					<td>{{student.suffix}}</td>
				</tr>
				<tr class="item">
					<td>Date of Birth:</td>
					<td colspan="2">{{student.birth_date}}</td>
				</tr>
				<tr class="item">
					<td>Address:</td>
					<td style="font-size:10px;" colspan="3">{{student.address}}</td>
				</tr>
				<tr class="item">
					<td>Mobile No.:</td>
					<td colspan="2">{{student.contact_number}}</td>
				</tr>
				<tr class="item">
					<td>Email Address:</td>
					<td colspan="2">{{student.email}}</td>
				</tr>
				<tr class="item">
					<td>Passport No.:</td>
					<td colspan="2">{{student.passport}}</td>
				</tr>
				<tr class="item">
					<td>E-Registration No.:</td>
					<td colspan="2">{{student.e_registration}}</td>
				</tr>
				<tr class="item">
					<td>Password:</td>
					<td colspan="2">{{student.e_reg_password}}</td>
				</tr>
				<tr class="item signature">
					<td></td>
					<td></td>
					<td></td>
					<td colspan="1"><p>Student Signature</p></td>
				</tr>
				<tr class="heading">
					<td>Payment Information</td>
					<td></td>
					<td></td>
					<td>Materials</td>
					<td></td>
				</tr>
				<tr class="item">
					<td>Mode of Payment:</td>
					<td colspan="2">{{student.amount}}</td>
						<td>Book V1:</td>
						<td>
							{% if student.books['book_none'] %}
							NO
							{% elif student.books['volume1']%}
							YES
							{% endif %}
						</td>
				</tr>
				<tr class="item">
					<td>Remarks:</td>
					<td colspan="2">
						{% if student.balance > 0 %}
						Not Paid
						{% else %}
						Paid
						{% endif %}

					</td>
					<td>Book V2:</td>
					<td>
						{% if student.books['book_none'] %}
						NO
						{% elif student.books['volume2']%}
						YES
						{% endif %}
					</td>
				</tr>
				<tr class="item">
					<td>Amount:</td>
					<td colspan="2">{{student.amount}}</td>
					<td>Uniform:</td>
					<td>
						{% if student.uniforms['uniform_none'] %}
						NO
						{% elif student.uniforms['uniform_xs'] %}
						YES
						{% elif student.uniforms['uniform_s'] %}
						YES
						{% elif student.uniforms['uniform_m'] %}
						YES
						{% elif student.uniforms['uniform_l'] %}
						YES
						{% elif student.uniforms['uniform_xl'] %}
						YES
						{% elif student.uniforms['uniform_xxl'] %}
						YES
						{% endif %}
					</td>
				</tr>
				<tr class="item">
					<td>Balance:</td>
					<td colspan="2">{{student.balance}}</td>
					<td>ID Card/Lace:</td>
					<td>
						{% if student.id_materials['id_card'] %}
						YES
						{% elif student.id_materials['id_lace'] %}
						YES
						{% else%}
						NO
						{% endif %}
					</td>
				</tr>
			</table>

			<div>
				
			</div>
			<table style="margin-top: 15px;" class="tbl_inclusion" cellpadding="20" cellspacing="20">
				<tr class="heading">
					<td>Inclusion</td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
					<td ></td>
				</tr>
				<tr class="inclusion-item">
					<td>E-Registration Assistance</td>
					<td colspan="20"></td>

					<td>Passport Appointment</td>
				</tr>
				<tr class="inclusion-item">
					<td>EPS-Topik Registration</td>
					<td colspan="20"></td>

					
					<td>Financial Assistance</td>
				</tr>
				<tr class="inclusion-item">
					<td>Korean Language Training</td>
					<td colspan="20"></td>

					<td>Unlimited Sit-in</td>
				</tr>
				<tr class="inclusion-item">
					<td>Skill Test Training</td>
					<td colspan="20"></td>

				</tr>
			</table>

			<table class="tbl_information" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
				<tr class="item">
					<td>EPS-TOPIK Test Fee:</td>
					<td style="text-decoration: underline;">Php</td>
				</tr>
				<tr class="item signature">
					<td></td>
					<td colspan="40"></td>
					<td><p style="padding-top: 3px; margin-top: 5px;">Receiver Signature</p></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>