{% extends 'admin/admin_table.html' %}


{% block content %}
<div class="app-main__inner">
    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="{{ RENDERED_MODEL.__amicon__ }} icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    {{ TABLE_OPTIONS['heading'] }}
                    <div class="page-title-subheading">
                        {{ TABLE_OPTIONS['subheading'] }}
                    </div>
                </div>
            </div>
            
            {% block actions %}

                {% if TABLE_OPTIONS['actions'] %}
                    {% include TABLE_OPTIONS['action_template'] %}
                {% endif %}

            {% endblock %}
            
        </div>
    </div>
            <div style="width:1300px;" class="main-card mb-3 card">
                    <div  class="table-responsive">
                        <table id="index_table" class="mb-0 table">
                            <thead>
                            <tr>
                                <th class="text-center"></th>
                                {% for column in TABLE_OPTIONS['table_columns'] %}
                                <th class="text-center">{{ column.upper() }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                                
                                {% for row_data in TABLE_OPTIONS['table_data'] %}
    
                                    {% if TABLE_OPTIONS['view_modal'] %}
                                        <tr class="item row_object" id="{{row_data[0]}}"  data-toggle="modal" data-target="#viewModal">
                                        <param id="param_{{row_data[0]}}" name="param_{{row_data[0]}}" {% if TABLE_OPTIONS['edit_url'] %} value="{{url_for(TABLE_OPTIONS['edit_url'],oid=row_data[0] | string)}}" {% endif %}>
                                    {% else %}
                                        <tr class="item row_object" id="{{row_data[0]}}">
                                    {% endif %}
    
                                        <!-- TEMPORARY conversion ng boolean word 'true' to 'YES' and 'false' to 'NO' -->
                                        <td class="text-center"></td>
    
                                        {% for value in row_data %}
                                            {% if loop.index > 1 %}
    
                                                <td class="text-center">
                                                    {% if value == none %}
                                                    <!-- pass -->
                                                    {% elif value == "actions" %}
                                                    <div class="row">
                                                        <button style="margin-bottom: 8px; margin-left:5px;" type="button" data-toggle="modal" data-target="#mdl_inbound" class="mr-2 btn-icon btn-icon-only btn btn-outline-success btn-inbound"><i class="pe-7s-download btn-icon-wrapper"> </i></button>
                                                        <button style="margin-bottom: 8px;" type="button" data-toggle="modal" data-target="#mdl_outbound" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger btn-outbound"><i class="pe-7s-upload btn-icon-wrapper"> </i></button>
                                                    </div>
                                                    {% else %}
                                                        {{value}}
                                                    {% endif %}
                                                </td>
    
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
    
                            </tbody>
                        </table>
                    </div>
            </div>
</div>
{% endblock %}