{% extends "admin/admin_base.html" %}


{% block modals %}
    {% include "lms/approve_modal.html" %}
    {% include "lms/search_marketer.html" %}
{% endblock %}


{% block head %}
<!-- sweet alert framework -->
<link rel="stylesheet" type="text/css" href="{{url_for('bp_admin.static', filename='bower_components/sweetalert/css/sweetalert.css')}}">
{% endblock %}


{% block scripts %}
<!-- sweet alert js -->
<script type="text/javascript" src="{{url_for('bp_admin.static', filename='bower_components/sweetalert/js/sweetalert.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('bp_admin.static', filename='js/modal.js')}}"></script>
<script type="text/javascript">
    CURRENT_USER_ROLE = "{{current_user.role.name}}";
</script>
<script>
    function init(){
        //getApprovalEarnings();
        getProfitSharingEarnings();
        getMarketerTotalEarnings();
    }

    function getMarketerTotalEarnings(){
        var marketerID;
        if(CURRENT_USER_ROLE == "Marketer" || CURRENT_USER_ROLE == "Partner" || CURRENT_USER_ROLE == "Manager"){
            marketerID = $("#btn_marketer_label").val();
        } else if(CURRENT_USER_ROLE == "Secretary" || CURRENT_USER_ROLE == "Admin"){
            marketerID = $("#select_marketer").val();
        }

        $.getJSON(`marketers/${marketerID}/earnings/total`, function(response){
            var totalEarnings = parseFloat(response.totalEarnings).toFixed(2);
            $("#total_earnings").html("₱" + totalEarnings);
            $("#total_savings").html("₱" + response.totalSavings);
            $("#total_earnings_claimed").html("₱" + response.totalEarningsClaimed);
            $("#total_savings_claimed").html("₱" + response.totalSavingsClaimed);
            $("#total_nyc").html("₱" + response.totalNYC);
            $("#list_branches_total_earnings").children().remove();

            if (response.branchesTotalEarnings.length > 0){
                var newBranchesTotalEarningsList = '';
                var selectedMarketer = $("#select_marketer").val();

                for (i=0; i < response.branchesTotalEarnings.length; i++){
                    var totalEarnings = parseFloat(response.branchesTotalEarnings[i]['totalEarnings']).toFixed(2);

                    var approveButton = "";
                    
                    if (selectedMarketer != 'all' && totalEarnings > 0.00){
                        approveButton = `<button value="${response.branchesTotalEarnings[i]['id']}" type="button" data-toggle="modal" data-target="#mdl_approve" data-placement="bottom" class="btn-wide mb-2 mr-2 btn btn-warning btn-approve">Approve</button>`;
                    }

                    newBranchesTotalEarningsList = newBranchesTotalEarningsList + `<li class="list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">${response.branchesTotalEarnings[i]['name']}</div>
                                    <div class="widget-subheading">Current Earnings</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-primary">₱ ${totalEarnings}</div>
                                    ${approveButton}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>`
                }

                $("#list_branches_total_earnings").html(newBranchesTotalEarningsList);
            }
        });
    }

    function getProfitSharingEarnings(){
        var partner_id;
        if(CURRENT_USER_ROLE == "Marketer" || CURRENT_USER_ROLE == "Partner" || CURRENT_USER_ROLE == "Manager"){
            partner_id = $("#btn_marketer_label").val();
        } else if(CURRENT_USER_ROLE == "Secretary" || CURRENT_USER_ROLE == "Admin"){
            partner_id = $("#select_marketer").val();
        }
        $.ajax({
            url: "/learning-management/api/get-profit-sharing-earnings/" + partner_id,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function(response){
                if(response.result){
                    $("#total_earnings_profit").html("₱" + response.totalEarningsProfit);
    
                    $("#list_branches_total_earnings_profit").children().remove();
    
                    if (response.branchesTotalEarningsProfit.length > 0){
                        var newBranchesTotalEarningsList = '';
                        
                        for (i=0; i < response.branchesTotalEarningsProfit.length; i++){
                            var totalEarnings = parseFloat(response.branchesTotalEarningsProfit[i]['totalEarnings']).toFixed(2);
    
                            newBranchesTotalEarningsList = newBranchesTotalEarningsList + `<li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">${response.branchesTotalEarningsProfit[i]['name']}</div>
                                            <div class="widget-subheading">Total Earnings</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-primary">₱ ${totalEarnings}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>`
                        }
    
                        $("#list_branches_total_earnings_profit").html(newBranchesTotalEarningsList);
                    }
                }
            }
        });
    }

    $(document).ready(function(){
        $("#li_earnings").addClass('mm-active');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
                }
            }
        });
    
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }

        var dateFrom = $("#filter_date").data('daterangepicker').startDate.format('YYYY-MM-DD');
        var dateTo = $("#filter_date").data('daterangepicker').endDate.format('YYYY-MM-DD');
    
        init();
    
        var dtMembersColumnDefs;
        if(CURRENT_USER_ROLE == "Marketer" || CURRENT_USER_ROLE == "Partner" || CURRENT_USER_ROLE == "Manager"){
            dtMembersColumnDefs = [
                { className: "text-center", "targets": [ 10, 11 ] },
                {visible: false, targets:[0,1,4]}
            ]
        } else if(CURRENT_USER_ROLE == "Secretary" || CURRENT_USER_ROLE == "Admin"){
            dtMembersColumnDefs = [
                { className: "text-center", "targets": [ 10, 11 ] },
                {visible: false, targets:[0,1,4, 11]}
            ]
        }

        var dt_members = $('#tbl_members').DataTable({
            "dom": 'rtip',
            "pageLength": 20,
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "columnDefs": dtMembersColumnDefs,
            ordering: false,
            "order": [[ 4, 'asc' ]],
            "drawCallback": function ( settings ) {
                var api = this.api();
                var rows = api.rows( {page:'current'} ).nodes();
                var last = null;
     
                api.column(4, {page:'current'} ).data().each( function ( group, i ) {
                    if (last !== group) {
                        $(rows).eq( i ).before(
                            '<tr style="background-color: lightcyan !important"><td colspan="10"><strong>'+group+' payments:</strong></td></tr>'
                        );
                        last = group;
                    }
                } );
            },
            "ajax": {
                "url": "/learning-management/dtbl/earnings/members",
                "data": function (d) {
                    if(CURRENT_USER_ROLE == "Marketer" || CURRENT_USER_ROLE == "Partner" || CURRENT_USER_ROLE == "Manager"){
                        d.contact_person = $("#btn_marketer_label").val();
                    } else if(CURRENT_USER_ROLE == "Secretary" || CURRENT_USER_ROLE == "Admin"){
                        d.contact_person = $("#select_marketer").val();
                    }
                    d.branch = $("#branch").val();
                    d.batch_no = $("#batch_no").val();
                    d.status = $("#status").val();
                    d.date_from = dateFrom;
                    d.date_to = dateTo;
                }
            }
        });

        var dt_payments = $('#tbl_payments').DataTable({
            "dom": 'rtip',
            "pageLength": 20,
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "columnDefs": [
                {visible: false, targets:[0]},
                {
                    "targets": 6,
                    "className": "text-center",
                    "render": function(data, type, row){
                        if (data == "PROCESSED") {
                            return `<div class="badge badge-success">PROCESSED</div>`
                        } else if(data == "PROCESSING") {
                            return `<div class="badge badge-warning">PROCESSING</div>`
                        } else {
                            return '';
                        }
                    }
                },
                {
                    "targets": 7,
                    "className": "text-center",
                    "render": function(data, type, row){
                        if (row[6] == "PROCESSED") {
                            return ``;
                        } else if(row[6] == "PROCESSING") {
                            return `<button style="margin-bottom: 8px;" type="button" class="mr-2 btn-icon btn-icon-only btn btn-outline-success btn-input-reference-no"><i class="pe-7s-check btn-icon-wrapper"> </i>Input Reference No.</button>`;
                        } else {
                            return '';
                        }
                    }
                },
            ],
            ordering: false,
            "ajax": {
                "url": "/learning-management/marketers/''/payment-records/dt",
            }
        });

        var dt_approve_earnings = $('#tbl_mdl_approve_earnings').DataTable({
            "dom": 'rtip',
            "pageLength": 20,
            "processing": true,
            "autoWidth": false,
            "columnDefs": [
                {visible: false, targets:[0,1,2]}
            ],
            ordering: false,
            "order": [[ 2, 'asc' ]],
            "drawCallback": function ( settings ) {
                var api = this.api();
                var rows = api.rows( {page:'current'} ).nodes();
                var last=null;
                var lastID = '';

                api.column(2, {page:'current'} ).data().each( function ( group, i ) {
                    var row_data = api.rows({page:'current'} ).row(i).data();
                    var groupID = row_data[0];

                    if ( last !== group ) {
                        lastID = row_data[0];

                        $(rows).eq( i ).before(
                            `<tr style="background-color: lightcyan !important"><td id="td_${groupID}" colspan="8"><strong>${group} Earnings: </strong></td></tr>`
                        );
                        last = group;
                    }
                } );
            },
        });
    
        var dtbl_transaction_history = $('#tbl_transaction_history').DataTable({
            "dom": 'rtip',
            "pageLength": 25,
            "processing": true,
            "order": [[1, 'asc']],
            "ordering": false,
            "autoWidth": false,
            "ajax": {
                "url": "/learning-management/api/get-earning-transaction-history",
            }
        });

        $("#div_branch_buttons").on('click', '.btn-branch', function () {
            var branch_name = $(this).html();
            $("#btn_branch_label").html(branch_name.toUpperCase());
            $("#btn_branch_label").val($(this).val());
            $("#branch_card_header_label").html(branch_name);
            $('#btn_branch_label').trigger('change');
        });

        var selectedBranch = "";
        
        $("#list_branches_total_earnings").on('click', 'button.btn-approve',function(){
            var marketerID = $("#select_marketer").val();
            var branchID = $(this).val();
            selectedBranch = branchID;
            dt_approve_earnings.ajax.url(`/learning-management/branches/${branchID}/marketers/${marketerID}/earnings`).load();
        });

        $("#btn_approve_earning").click(function(){
            $("#mdl_approve .close").click();
            var marketerID = $("#select_marketer").val();

            swal({
                title: 'Approved Branch Earnings?',
                text: "All marketers claim requests in this branch will be approved!",
    			inputPlaceholder: "Your Password",
                type: 'input',
                inputType: 'password',
                showCancelButton: true,
                cancelButtonColor: "#DD6B55",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Confirm!",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
              }, function (inputValue) {
                if (inputValue === false) return false;
                if (inputValue === "") {
                    swal.showInputError("Please input your password!");
                    return false;
                }

                const url = `/learning-management/branches/${selectedBranch}/marketers/${marketerID}/earnings/approve-earnings`;

                setTimeout(function () {
                    $.ajax({ 
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({
                            "password": inputValue,
                        }),
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            swal(
                                'Success!',
                                'All branch earnings approved!',
                                'success'
                                );
                            location.reload();
                        },
                        error: function (response) {
                            console.log(response.responseJSON);
                            swal("Error Occured!", response.responseJSON.message, "error");
                        },
                    });
                }, 500);
              });
        });

        $("#branch").change(function(){
            $.ajax({
                url: `/learning-management/api/branches/${$(this).val()}/batches`,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        $('#batch_no').find('option').remove();
        
                        if (response.data.length > 0) {
                            var newOption = $('<option value="all">All</option>');
                            $('#batch_no').append(newOption);
        
                            for (i = 0; i < response.data.length; i++) {
                                var newOption = $(`<option value="${response.data[i].id}">${response.data[i].number}</option>`);
                                $('#batch_no').append(newOption);
                            }
                        } else {
                            var newOption = $('<option value="all">No batch number available</option>');
                            $('#batch_no').append(newOption);
                        }
                    }
                });
            dt_members.ajax.reload();
        });
    
        $("#batch_no").change(function(){
            dt_members.ajax.reload();
        });
        
        $("#status").change(function(){
            dt_members.ajax.reload();
        });
    
        $("#tbl_members tbody").on('click', '.btn-claim', function(){
            var data = dt_members.row( $(this).parents('tr')).data();
            
            $.confirm({
                title: 'Request for claim',
                content: `Php ${data[5] + data[6]}`,
                buttons: {
                    confirm: {
                        text: 'Request',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'shift'],
                        action: function(){
                            $.ajax({
                                url: "/learning-management/api/claim-earning",
                                type: "POST",
                                dataType: "json",
                                data: JSON.stringify({
                                    "student_id": data[0],
                                    "payment_id": data[1]
                                }),
                                contentType: "application/json; charset=utf-8",
                                success: function(response){
                                    if(response.result){
                                        dt_members.ajax.reload();
                                        toastr.success("Wait for admin to approve","Claim successfully requested!");
                                    }else{
                                        toastr.error("Requesting claim Failed", "Error Occured!");
                                    }
                                    getProfitSharingEarnings();
                                    getMarketerTotalEarnings();
                                }
                            });
                        }
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    },
                }
            });
        });
    
        $("#btn_confirm").click(function(){
            const marketerId = $("#select_marketer").val();
            var marketer_name = $("#select_marketer option:selected").text();

            dt_members.ajax.reload();
            dt_payments.ajax.url(`/learning-management/marketers/${marketerId}/payment-records/dt`).load();
            getProfitSharingEarnings();
            getMarketerTotalEarnings();
            $("#branch_card_header_label").html(marketer_name);
        });

        $("#div_marketer_buttons").on('click', '.btn-marketer', function () {
            var marketer_name = $(this).html();
            $("#btn_marketer_label").html(marketer_name.toUpperCase());
            $("#btn_marketer_label").val($(this).val());
            $("#card_header_label").html(marketer_name);
            $('#btn_marketer_label').trigger('change');
        });
    
        $("#btn_marketer_label").change(function(){
            dt_members.ajax.reload();
            getProfitSharingEarnings();
            getMarketerTotalEarnings();
        });

        $("#btn_print_payslip").click(function(){
            const marketerId = $("#select_marketer").val();
            
            console.log(marketerId);
            if(marketerId == 'all'){
                swal({
                    title: "Please select marketer first, before proceed!",
                    text: "Print Failed!",
                    type: "info",
                    closeOnConfirm: true,
                });
                return;
            }

            window.open('/learning-management/payslip.pdf' + 
                `?marketer_id=${marketerId}`
            );
        });


        $("#btn_print_available_earnings").click(function(){
            window.open('/learning-management/available-earnings.pdf');
        });


        $("#filter_date").on('apply.daterangepicker', function(ev, picker){
            dateFrom = picker.startDate.format('YYYY-MM-DD');
            dateTo = picker.endDate.format('YYYY-MM-DD');
            dt_members.ajax.reload();
        });

        $("#tbl_payments tbody").on('click', '.btn-input-reference-no', function(){
            var data = dt_payments.row( $(this).parents('tr')).data();
            
            swal({
                title: 'Input Reference No.',
                text: "Reference no. and status will be updated",
    			inputPlaceholder: "Reference no.",
                type: 'input',
                inputType: 'text',
                showCancelButton: true,
                cancelButtonColor: "#DD6B55",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Confirm!",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
              }, function (inputValue) {
                if (inputValue === false) return false;
                if (inputValue === "") {
                    swal.showInputError("Please input the reference no!");
                    return false;
                }

                setTimeout(function () {
                    $.ajax({ 
                        url: "/learning-management/earnings/input-reference-no",
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({
                            "reference_no": inputValue,
                            "transaction_id": data[0]
                        }),
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            swal(
                                'Success!',
                                'Reference and status updated!',
                                'success'
                                );
                            dt_payments.ajax.reload();
                        },
                        error: function (response) {
                            swal("Error Occured!", "Update Failed", "error");
                        },
                    });
                }, 500);
              });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title" style="background-color: skyblue">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="{{ RENDERED_MODEL.__amicon__ }} icon-gradient bg-happy-itmeo"></i>
                </div>
                <div>
                    Earnings
                    <div class="page-title-subheading">
                        Earnings approval, claims, request, member and payment records
                    </div>
                </div>
            </div>

            <div class="page-title-actions">
                {% if current_user.role.name == 'Marketer' %}
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn-shadow dropdown-toggle btn btn-info">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-list-alt fa-w-20"></i>
                                    </span>
                        Actions
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                        No actions
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                    <button id="btn_print_payslip" type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary" data-original-title="Print">
                        <i class="fa fa-print"> Payslip</i> 
                    </button>
                    <div class="d-inline-block dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="btn-shadow dropdown-toggle btn btn-info">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fa fa-list-alt fa-w-20"></i>
                                        </span>
                            Print
                        </button>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <button disabled id="btndelete" type="button" tabindex="0" class="dropdown-item">Member Records</button>
                                </li>
                                <li class="nav-item">
                                    <button disabled id="btndelete" type="button" tabindex="0" class="dropdown-item">Payment Records</button>
                                </li>
                                <li class="nav-item">
                                    <button id="btn_print_available_earnings" type="button" tabindex="0" class="dropdown-item">Marketer's Earnings</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mb-12 card">
        <div class="card-header">
            <div id="branch_card_header_label">
                {% if current_user.role.name in ["Marketer",'Partner', 'Manager'] %}
                    {{marketers[0].fname.upper()}}
                {% elif current_user.role.name in ['Admin', 'Secretary'] %}
                    ALL MARKETERS
                {% endif %}
            </div>

            <div class="btn-actions-pane-right">
                {% if current_user.role.name in ['Admin', 'Secretary'] %}
                <div role="group" class="btn-group-sm btn-group">
                    <button type="button" data-toggle="modal" data-target="#mdl_select_marketer" class="btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-search fa-w-20"></i>
                        </span>
                        Select Marketer</button>
                </div>
                {% elif current_user.role.name in ["Marketer", 'Partner', 'Manager'] %}
                <div class="nav">
                    <div class="dropleft btn-group">
                        <button value="{{marketers[0].id}}" id="btn_marketer_label" type="button" aria-haspopup="true" aria-expanded="false"
                            data-toggle="dropdown" class="btn-wide mb-2 mr-2 dropdown-toggle btn btn-primary">
                            {{marketers[0].fname.upper()}}
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% block card_body %} {% endblock %}
    </div>
    {% block extra_card %} {% endblock %}
</div>
{% endblock %}
