<div class="tab-pane show" id="tab-animated1-2" role="tabpanel">
    <div class="form-row">
        <div class="col-md-2 col-xs-2">
            <div class="position-relative form-group">
                <label for="filter_tab3_year" class="">Year</label>
                <select id="filter_tab3_year" class="form-control" required>
                    <option value="all">All</option>
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                </select>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;" class="table-responsive">
        <table id="tbl_business_expenses"
            class="align-middle mb-0 table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">CATEGORY</th>
                    <th class="text-center">JAN</th>
                    <th class="text-center">FEB</th>
                    <th class="text-center">MAR</th>
                    <th class="text-center">APR</th>
                    <th class="text-center">MAY</th>
                    <th class="text-center">JUN</th>
                    <th class="text-center">JUL</th>
                    <th class="text-center">AUG</th>
                    <th class="text-center">SEP</th>
                    <th class="text-center">OCT</th>
                    <th class="text-center">NOV</th>
                    <th class="text-center">DEC</th>
                    <th class="text-center">TOTAL</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="main-card mb-3 card" style="margin-top: 20px;">
        <div class="card-header"><i class="header-icon lnr-gift icon-gradient bg-grow-early">
            </i>
            <div class="btn-actions-pane-right">
                <div class="nav">
                    <a data-toggle="tab" href="#tab-eg6-0"
                        class="border-0 btn-transition btn btn-outline-primary active show">
                        UTILITIES
                    </a>
                    <a data-toggle="tab" href="#tab-eg6-1"
                        class="mr-1 ml-1 border-0 btn-transition btn btn-outline-primary show">
                        OFFICE SUPPLY
                    </a>
                    <a data-toggle="tab" href="#tab-eg6-2"
                        class="border-0 btn-transition  btn btn-outline-primary">
                        SALARIES
                    </a>
                    <a data-toggle="tab" href="#tab-eg6-3"
                        class="border-0 btn-transition  btn btn-outline-primary">
                        MARKETER REBATES
                    </a>
                    <a data-toggle="tab" href="#tab-eg6-4"
                        class="border-0 btn-transition  btn btn-outline-primary">
                        BOOKEEPER
                    </a>
                    <a data-toggle="tab" href="#tab-eg6-5"
                        class="border-0 btn-transition  btn btn-outline-primary">
                        REFUNDED
                    </a>
                    <a data-toggle="tab" href="#tab-eg6-6"
                        class="border-0 btn-transition  btn btn-outline-primary">
                        OTHER EXPENSES
                    </a>
                    <a data-toggle="tab" href="#tab-eg6-10"
                        class="border-0 btn-transition  btn btn-outline-primary">
                        SNPL FEE
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                {% include 'lms/fund_wallet/components/business_expenses/components/utilities.html' %}
                {% include 'lms/fund_wallet/components/business_expenses/components/office_supply.html' %}
                {% include 'lms/fund_wallet/components/business_expenses/components/salaries.html' %}
                {% include 'lms/fund_wallet/components/business_expenses/components/marketer_rebates.html' %}
                {% include 'lms/fund_wallet/components/business_expenses/components/bookeeper.html' %}
                {% include 'lms/fund_wallet/components/business_expenses/components/refunded.html' %}
                {% include 'lms/fund_wallet/components/business_expenses/components/other_expenses.html' %}
                <div class="tab-pane" id="tab-eg6-10" role="tabpanel">
                    <p>Coming soon...</p>
                </div>
            </div>
        </div>
    </div>
</div>